@charset "utf-8";
/**
 * @name 	PyroCMS installer
 * @author 	Yorick Peterse
 * @link 	http://www.yorickpeterse.com
 *
 */
/* General */
.clear {
	clear:both;
}
#loader {
	margin-left:20px;
}
/* Messages */
.message {
	font-size:14px;
	height:auto;
	width:430px;
	margin:10px 0px 25px 0px;
	padding:10px;
	text-align:center;
}
#error {
	background:#EB3F17;
}
#success {
	background:#9CE25B;
}
/* Passed / failed */
.passed {
	background: url(../img/passed.png) no-repeat center left;
	padding-left:23px;
}
.failed {
	background: url(../img/failed.png) no-repeat center left;
	padding-left:23px;
}
/* Typography */
strong {
	font-weight:bold;
}
em {
	font-style:italic;
}
/* The body */
body {
	background:#221D1A url(../img/background.jpg) repeat top left;
	font-family:"Lucida Grande","Lucida Sans Unicode",Arial,sans-serif;
}
/* The wrapper */
#wrapper {
	margin:0 auto;
	margin-top:50px;
	width:450px;
}
/* The header */
#header h1 {
	color:#949697;
	font-size:30px;
	font-weight:bold;
}
/* The content */
#content {
	background:#fff;
	padding:15px;
}
#content h2 {
	font-size:20px;
	font-weight:bold;
	margin:20px 0px 20px 0px;
}
#content p {
	font-size:14px;
	margin-bottom:10px;
}
#content #go_back {
	border-top:1px solid #ccc;
	margin-top:15px;
	padding:10px 0px 10px 0px;
}
#content #go_back a {
	background: url(../img/back.png) no-repeat center left;
	color:#08729E;
	height:20px;
	padding-left:20px;
	text-decoration:none;
}
#content #go_back a:hover {
	text-decoration:underline;
}
/* Dashboard */
#dashboard li {
	height:30px;
	margin-bottom:20px;
	padding:18px 0px 0px 60px;
}
#dashboard li a {
	color:#474646;
	font-weight:bold;
	font-size:24px;
	text-decoration:none;
}
#dashboard li a:hover {
	color:#000000;
	text-decoration:underline;
}
#dashboard #server {
	background: url(../img/actions/server.png) no-repeat center left;
}
#dashboard #install {
	background: url(../img/actions/install.png) no-repeat center left;
}
#dashboard #permissions {
	background: url(../img/actions/permissions.png) no-repeat center left;
}
#dashboard #cache {
	background: url(../img/actions/cache.png) no-repeat center left;
}
/* Permissions page */
.perm_list {
	margin-top:20px;
}
.perm_list li {
	font-size:14px;
	height:20px;
	margin-bottom:5px;
	padding-left:25px;
}
#perm_folders li {
	background: url(../img/folder.png) no-repeat top left;
}
#perm_files li {
	background: url(../img/file.png) no-repeat top left;
}
/* Installation form */
#content form label{
	float:left;
	padding-top:7px;
	width:150px;
}
#content form .input_text {
	border:1px solid #ccc;
	height:20px;
	padding:3px;
	width:200px;
}
#content form #dummy_label {
	padding-top:2px;
}
#content form #button_align {
	float:right;
}
#content form #link_align {
	float:left;
	margin-top:13px;
}
#content form #submit,#content form #reset {
	background:#A6D7EB;
	border:1px solid #0980AE;
	color:#000;
	margin:10px 10px 0px 0px;
	padding:5px;
	width:80px;
}
#content form #reset {
	margin:10px 0px 0px 0px;
}