@charset "utf-8";
/**
 * @name 	PyroCMS installer
 * @author 	Yorick Peterse
 * @link 	http://www.yorickpeterse.com
 *
 */
/* General */
.clear {
	clear:both;
}
.message {
	font-size:14px;
	height:auto;
	width:430px;
	margin:10px 0px 25px 0px;
	padding:10px;
	text-align:center;
}
#error {
	background:#EB3F17;
}
#success {
	background:#9CE25B;
}
/* The body */
body {
	background:#221D1A url(../img/background.jpg) repeat top left;
	font-family:"Lucida Grande","Lucida Sans Unicode",Arial,sans-serif;
}
/* The wrapper */
#wrapper {
	margin:0 auto;
	margin-top:50px;
	width:450px;
}
/* The header */
#header h1 {
	color:#949697;
	font-size:30px;
	font-weight:bold;
}
/* The content */
#content {
	background:#fff;
	padding:15px;
}
#content h2 {
	font-size:20px;
	font-weight:bold;
	margin:20px 0px 20px 0px;
}
#content p {
	font-size:14px;
	margin-bottom:10px;
}
#content form label{
	float:left;
	padding-top:7px;
	width:150px;
}
#content form .input_text {
	border:1px solid #ccc;
	height:20px;
	padding:3px;
	width:200px;
}
#content form #dummy_label {
	padding-top:2px;
}
#content form #button_box {
	border-top:1px solid #ccc;
	margin-top:20px;
	padding-top:5px;
	width:100%;
}
#content form #button_box #button_align {
	float:right;
}
#content form #submit,#content form #reset {
	background:#A6D7EB;
	border:1px solid #0980AE;
	color:#000;
	margin:10px 10px 0px 0px;
	padding:5px;
	width:80px;
}
#content form #reset {
	margin:10px 0px 0px 0px;
}