.DS_Store
.buildpath
.project
.settings
system/pyrocms/cache/*_m/*
system/pyrocms/cache/*_lib/*
system/pyrocms/cache/dwoo/compiled/*.php
system/pyrocms/cache/simplepie/*.spc
system/pyrocms/cache/twitter/*
system/pyrocms/config/database.php
system/codeigniter/logs/log-*.php
nbproject/
uploads/*
