<IfModule mod_rewrite.c>

	Options +FollowSymLinks
	RewriteEngine on

	# NOTICE: If you get a 404 play with combinations of the following commented out lines
	#AllowOverride All
	#RewriteBase /wherever/pyro/is

	# Restrict your site to only one domain
	#RewriteCond %{HTTP_HOST} !^example\.com$
	#RewriteRule ^(.*)$ http://example.com/$1 [L]

	# Keep people out of codeigniter directory and Git/Mercurial data
	RedirectMatch 403 ^/(system\/pyrocms\/cache|system\/codeigniter|\.git|\.hg).*$

	# Send request via index.php (again, not if its a real file or folder)
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	<IfModule mod_php5.c>
		RewriteRule ^(.*)$ index.php/$1 [L]
	</IfModule>

	<IfModule !mod_php5.c>
		RewriteRule ^(.*)$ index.php?/$1 [L]
	</IfModule>

</IfModule>