/* GENERAL */

.error-box, .notice-box, .success-box {
	margin: 10px 15px;
	padding:0.5em;
        padding-left:3em;
  
	background-color: #444;  
	background-image: url(../img/icons/quote.gif);
	background-repeat: no-repeat;
	background-position: 5px 50%; 
}

.error-box {
	background-image: url(../img/icons/stop.gif);
}
.notice-box {
	background-image: url(../img/icons/exclamation.gif);
}
.success-box {
	background-image: url(../img/icons/go.gif);
}

code {
	background-color:#444444;
	font-size:11px;
	margin:10px 4px;
	overflow:auto;
	padding:8px;
	font-family:courier new, sans-serif;
}

/* -- Social Bookmarking -- */
.social-bookmarks img { 
	border:0 !important;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
 }
.social-bookmarks a:hover img { 
	border:0 !important; 
	filter:alpha(opacity=1);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;
}
.social-bookmarks li { margin:0 0.6em;}