@import "reset.css";
@import "text.css";
@import "../common.css";
@import "uniform.default.css";
@import "forms.css";
@import "buttons.css";

/* MOVE ME SOMEWHERE */

.default-input-text {
	color:#AAAAAA;
}

.CodeMirror-wrapping {
	border: 1px solid #bbb;
}

.CodeMirror-line-numbers {
	width: 2.2em;
	background-color: #eee;
	color:#AAAAAA;
	font-family:monospace;
	font-size:10pt;
	text-align:right;
 }

.CodeMirror-line-numbers div {
	margin:0;
}

.ui-draggable, .ui-sortable {
	cursor:move;
}

/* Revisions */
.revision_pre
{
	border:				1px solid #ccc;
	overflow: 			hidden;
	padding:			10px;
	max-width:			95%;
	overflow-x: auto;
	font-size: 11px;
	background: #eee;
	margin: 0 auto;
}
.revision_pre del, .revision_pre ins
{
	display:			inline-block;
	min-height:			10px;
	padding:			0;
	text-decoration: 	none;
	width: 100%;
}
.revision_pre ins *, .revision_pre del *
{
	display:			inline;
}
.revision_pre ins span.highlight { background-color: #77d76d; }
.revision_pre del span.highlight { background-color: #d97070; }
.revision_pre ins
{
	background:			#8EE884;
}
.revision_pre del
{
	background:			#E88484;
}
#revision_preview_heading
{
	border-bottom:		1px solid #000;
	margin-top:			0px;
	padding-bottom:		5px;
}
/* END MOVE ME SOMEWHERE */

body {
	background: #FFFFFF url(../../img/admin/bg.png) top left repeat-y;
	color: #444;
	overflow-x: hidden;
}
body#login {
	background-image: url(../../img/admin/body-bg.jpg);
	background-repeat: repeat;
}

/* Wrap body with a border */
#top, #bottom, #left, #right {
	background: #202327;
	position: fixed;
}
#left, #right {
	top: 0; bottom: 0;
	width: 15px;
}
#left { left: 0; }
#right { right: 0; }

#top, #bottom {
	left: 0; right: 0;
	height: 15px;
}
#top { top: 0; }
#bottom { bottom: 0; }


a, a:focus, a:active, a:visited {
	outline: none;
	-moz-outline-style: none;
	color: #FF6400;
}
a:hover {
	color: #666666;
}
.clear-both {
	clear: both;
}

#page-wrapper {
	width: 100%;
}
#sidebar {
	width: 223px;
	display: table-cell;
	vertical-align: top;
	font-size: 110%;
	min-width: 223px;
}
#sidebar footer {
	font-size: 11px;
	text-align: center;
	color: #999;
	padding-top: 10px;
	border-top: 1px solid #DDDDDD;
	margin-top: 55px;
}
#content-wrapper {
	margin: 0;
	padding: 0;
	display: table-cell;
	vertical-align: top;
	font-size: 90%;
	width: 100%;
}
#content {
	padding: 10px;
}
#logo {
	background: url(../../img/admin/logo.png) top center no-repeat;
	min-height: 40px;
	margin-bottom: 10px;
}
header#main {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin: 15px 0 13px 0px;
}
header#main h1 {
	font-size: 15px;
	color: #545454;
	text-align: center;
	margin: 0;
}
#user-links {
	font-size: 10px;
	color: #999999;
	line-height: 18px;
	text-align: right;
	margin-bottom: 20px;
	padding: 0 20px 0 0;
}
#user-links a {
	color: #5d5d5d;
	text-decoration: underline;
}
#user-links a:hover {
	color: #333333;
}

#main-nav ul,
#main-nav ul ul,
#main-nav ul li {
	list-style: none;
	padding: 0;
	margin: 0;
}
#main-nav ul li a.top-link {
	display: block;
	text-align: right;
	border-top: 1px solid #d0d0d0;
	padding: 14px 20px 14px 0;
	font-size: 13px;
	text-decoration: none;
	font-weight: bold;
	color: #545454;
}
#main-nav ul li a.last {
	border-bottom: 1px solid #d0d0d0;
}
#main-nav ul li a:hover {
	background-color: #fcfcfc;
	margin-right: 4px;
	padding-right: 16px;
}
#main-nav ul li a.current {
	background-color: #FFFFFF;
}
#main-nav ul li a.current:hover {
	margin-right: 0;
	padding-right: 20px;
	cursor: default;
}
#main-nav ul li a.bottom-border {
	border-bottom: 1px solid #d0d0d0;
}
#main-nav ul ul {
	padding: 5px 0 20px 0;
	margin-right: 5px;
	background-color: #efeff6;
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #fcfcfc;
}
#main-nav ul ul li {
	text-align: right;
	padding: 2px 15px 4px 0;
}
#main-nav ul ul li a {
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
	color: #7e7e7e;
	padding-left: 12px;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}
#main-nav ul ul li a:hover {
	background: url(../../img/admin/nav-arrow.png) center left no-repeat;
	color: #333333;
	background-color: transparent;
}
#main-nav ul ul li a.current {
	background: url(../../img/admin/nav-arrow.png) center left no-repeat;
	background-color: transparent;
	border: 0;
	color: #333333;
}
#main-nav ul ul li a:hover,
#main-nav ul ul li a.current:hover {
	margin-right: 0;
	padding-right: 0;
}

/** Headers **/
#page-header {
	background-color: #424242;
	color: #ccd1d4;
	padding: 4px 10px;
}
#page-header h1 {
	font-size: 18px;
	color: #eef1f4;
	margin: 0;
	display: inline-block;
	text-shadow: 0 -1px 0 #000;
}
#page-header a {
	color: #eef1f4;
	text-decoration: none;
	text-shadow: 0 -1px 0 #000;
}
#page-header p {
	font-size: 12px;
	font-style: italic;
	margin: 0 0 0 12px;
	font-weight: normal;
	display: inline-block;
}

#page-header-help {
	float: right;
}

#page-header-help a {
	color: #ff6400;
	font-weight: bold;
	font-style: normal;
	font-size: 18px;
}

/** Notifications **/

.notification {
	border: 1px solid;
	border-left: none;
	border-right: none;
	border-top: none;
	padding: 10px 10px 10px 36px;
	margin: 0;
	background-position: 10px 11px !important;
	background-repeat: no-repeat !important;
	position: relative;
	display: none;
}
.notification p,
.box .notification p {
	margin: 0;
	padding: 0;
}
.error {
	background: #ffcece url('../../img/admin/icons/16/cross-circle.png');
	border-color: #df8f8f;
	color: #665252;
}
.attention {
	background: #fffbcc url('../../img/admin/icons/16/exclamation.png');
	border-color: #e6db55;
	color: #666452;
}
.success {
	background: #d5ffce url('../../img/admin/icons/16/tick-circle.png');
	border-color: #9adf8f;
	color: #556652;
}
.information {
	background: #dbe3ff url('../../img/admin/icons/16/information.png');
	border-color: #a2b4ee;
	color: #585b66;
}
.close {
	background-image: url('../../img/admin/icons/16/cross-small-grey.png');
	text-indent: -99999px;
	overflow: hidden;
	display: block;
	position: absolute;
	right: 10px;
	top: 10px;
	height: 16px;
	width: 16px;
}

/** Tables **/
table {
	width: 100%;
	border-collapse: separate;
}
table th,
table td {
	padding: 8px;
	vertical-align: middle;
}

table thead th {
	font-weight: bold;
	font-size: 14px;
	border-bottom: 1px solid #c2c2c2;
	text-align: left;
}
table thead th.checkboxes {
	width: 18px;
}
table tfoot td {
	padding: 0;
	border-bottom: 1px solid #DDDDDD;
}
table tbody tr.alt {
	background-color: #F3F3F3;
}

/** Icons **/
a.edit-icon {
	background-image: url('../../img/admin/icons/16/pencil.png');
	text-indent: -99999px;
	overflow: hidden;
	display: inline-block;
	height: 16px;
	width: 16px;
}
a.delete-icon {
	background-image: url('../../img/admin/icons/16/cross.png');
	text-indent: -99999px;
	overflow: hidden;
	display: inline-block;
	height: 16px;
	width: 16px;
}
a.add-icon {
	background-image: url('../../img/admin/icons/16/plus.png');
	text-indent: -99999px;
	overflow: hidden;
	display: inline-block;
	height: 16px;
	width: 16px;
}

/** Shortcut Buttons **/
#shortcuts {
	border: 1px solid #DDDDDD;
	background-color: #F2F2F2;
	text-align: left;
	text-decoration: none;
	color: #666666;
}
#shortcuts h6 {
	margin: 0px;
	padding: 5px 15px 3px 10px;
	display: inline-block;
	float: right;
	vertical-align: middle;
	color: #999999;
	font-size: 13px;
}
#shortcuts ul,
#shortcuts li {
	list-style: none;
	padding: 0;
	margin: 0;
}
#shortcuts li {
	display: inline-block;
	float: left;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #fefefe;
}
#shortcuts li.hidden {
	display: none;
}
#shortcuts li:first-child {
	border-left: none;
}
#shortcuts li a {
	display: block;
	padding: 5px 10px;
	text-align: left;
	text-decoration: none;
	color: #666666;
	vertical-align: middle;
	-webkit-background-clip: padding-box;

}
#shortcuts li a:hover {
	background-color: #fcfcfc;
}
#shortcuts a.add {
	background: #F2F2F2 url('../../img/admin/icons/16/plus.png') 10px 50% no-repeat;
	padding-left: 35px;
}

#lang-select {
	padding-left: 15px;
	margin-top: 15px;
}

body#login #login-box {
	background-color: #d1d5db;
	background-image: url('../../img/admin/login-bg.jpg');
	background-repeat: repeat-x;
	border: 1px solid #ffffff;
	outline: 5px solid #202327;
	-moz-outline-radius: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	padding: 3px 35px 5px 35px;
	margin: 14% auto 0 auto;
	width: 330px;
}
body#login #login-box header {
	margin-bottom: 25px;
}
#login-logo {
	background-image: url('../../img/admin/login-logo.png');
	background-repeat: no-repeat;
	width: 25px;
	height: 40px;
	margin: 0 auto;
}
body#login #login-box ul,
body#login #login-box li {
	margin: 0;
	padding: 0;
	list-style: none;
}
body#login #login-box li {
	margin-bottom: 10px;
}
body#login #login-box label {
	display: inline-block;
	width: 70px;
	font-size: 14px;
}
body#login #login-box label.remember {
	display: inline;
	margin: 10px 0 0 5px;
}
body#login #login-box input.remember {
	display: inline;
	width: 20px;
	height: 14px;
	padding: 0;
	margin: 0;
	border: 0px;
	outline: 0px;
}
body#login #login-box input {
	background-color: #eaedf2;
	background-image: url('../../img/admin/input-bg.jpg');
	background-repeat: repeat-x;
	padding: 4px 4px 4px 35px;
	font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #6b6d71;
	text-shadow: 1px 1px 0px #e6e8eb;
	letter-spacing: 0.2px;
	width: 289px;
	height: 28px;
	border: 1px solid #a2a5a8;
	outline: 1px solid #e7eaec;
	-moz-outline-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
body#login #login-box input:hover {
	border: 1px solid #ff6900;
}
.input-email {
	margin: -25px 0 0 10px;
	float: left;
	position: relative;
	z-index: 9999;
}
.input-password {
	margin: -30px 0 0 14px;
	float: left;
	position: relative;
	z-index: 9999;
}
body#login #login-box input.button {
	background-image: url('../../img/admin/login-btn.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 92px;
	height: 35px;
	border: 0;
	outline: 0;
	color: #6c727a;
	text-shadow: 1px 1px 0px #f5f6f7;
	padding: 4px 12px;
	margin: 10px auto;
}
body#login #login-box input.button:hover {
	cursor: pointer;
	background-position: 0 -36px;
	color: #ff6900;
}
#login-box .error {
	background: #ef8385 url('../../img/admin/icons/16/exclamation.png');
	border: 1px solid #b87173;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #9b373a;
	text-shadow: 1px 1px 0px #f3a8aa;
	letter-spacing: 0.2px;
	text-transform: uppercase;
	margin: 0 0 15px 0;
}
#login-box .success {
	background: #d5ffce url('../../img/admin/icons/16/tick-circle.png');
	border: 1px solid #9adf8f;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #549f48;
	text-shadow: 1px 1px 0px #f4fff3;
	letter-spacing: 0.2px;
	text-transform: uppercase;
	margin: 0 0 15px 0;
}
ul#login-footer {
	width: 175px;
	margin: 15px 0 0 0;
}
ul#login-footer li {
	list-style: none;
}
ul#login-footer li a  {
	background-image:  url('../../img/admin/poweredby.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 125px;
	height: 21px;
	float: left;
	text-indent: -9999px;
}
ul#login-footer li a:hover {
	background-position: 0 -23px;
}

/** Flexiboxes **/
.box {
/*	background-color: #efeff6; */
	background-color: #fbfbfc;
	width: 100%;
/*	min-width: 550px; */
	float: left;
	margin: 0 15px 25px 0;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
}
.box header, .box footer {
	background-color: #f5f5f5;
	padding: 0 10px;
}
.box header {
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}
.box header h3 {
	margin-bottom: 0;
}
.box header.open {
	background-color: #fff;
}
.box header:hover {
	background-color: #fcfcfc;
}
.box footer {
	padding: 10px;
	text-align: right;
	border-top: 1px solid #d6d6d6;
}
.box table {
	margin-bottom: 0;
}
.box table tbody {
	border-bottom: none;
}
.box p {
	margin: 10px;
}

.hover-toggle .toggle-item {
	visibility: hidden;
}
.hover-toggle:hover .toggle-item {
	visibility: visible;
}

/* Blank Slates */
div.blank-slate {
	text-align: center;
	vertical-align: top;
	width: auto;
	margin-top: 20%;
}
div.blank-slate img {
	margin: 0px 25px 15px 0;
}
div.blank-slate h2 {
	margin: -20px 0 0 0;
}


.buttons {
	margin-bottom: 25px;
}

.noscript {
	display: block !important;
	padding: 7px 20px 7px 50px;
	background: #fffbcc url('../../img/admin/icons/16/exclamation.png') 10px 50% no-repeat;
	border: 2px solid #e6db55;
	font-weight: bold;
	color: #666452;
}

.clearfix:afer {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}

/* Grids */
@media screen and (max-width: 319px) {.unit{float: none !important; width: auto !important;}}
.line:after,.lastUnit:after{clear:both;display:block;visibility:hidden;overflow:hidden;height:0 !important;line-height:0;font-size:xx-large;content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";}
.line{*zoom:1;}
.unit{float:left;}
.size1of1{float:none;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size3of4{width:75%;}
.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}
.lastUnit{display:table-cell;float:none;width:auto;*display:block;*zoom:1;_position:relative;_left:-3px;_margin-right:-3px;}

/* Dashboard */
ul.recent-comments {
	margin-bottom: 0px;
}
ul.recent-comments li {
	list-style: none;
	width: 17%;
	height: 55px;
	margin: 0;
	overflow: hidden;
	border-right: 1px solid #e0e0e0;
	padding-top: 5px;
}
ul.recent-comments p {
	padding: 0;
	margin: 0;
}
ul.recent-comments .icon {
	width: auto;
}
ul.recent-comments li:last-child {
	border-right: none;
}
ul.recent-comments li img {
	float: left;
	margin: 0 10px;
}
ul.recent-comments a {
	color: #444;
}
ul.recent-comments a:hover {
	color: #ff6400;
}

ul.quick-links {
	margin-bottom: 0px;
}
ul.quick-links li {
	list-style: none;
	width: 100%;
	margin: 0;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	padding-top: 10px;
}
ul.quick-links li:last-child {
	border-bottom: none;
}
ul.quick-links li img {
	float: left;
	margin: 0 20px 10px 10px;
}
ul.quick-links a {
	color: #444;
}
ul.quick-links a:hover {
	color: #ff6400;
}
ul.quick-links h4 {
	font-size: 14px;
	line-height: 10px;
	margin-bottom: 8px;
	margin-top: 0;
}

/* Analytics */
#analytics {
	width: 100%;
	height: 300px;
}
div#analytics table {
	width: auto;
}

/* News Feed */
ul#news-feed {
	margin-bottom: 0px;
}
#news-feed li {
	border-top: 1px solid #e6e6e6;
	padding: 10px 15px 10px 90px;
	list-style: none;
	margin-left: 0;
	position: relative;
	clear: both;	
}
#news-feed li:first-child {
	border-top: none;
}
#news-feed h3 {
	font-size: 14px;
	line-height: 10px;
	margin-bottom: 8px;
	margin-top: 0px;
}
#news-feed h3 a {
	color: #444;
}
#news-feed h3 a:hover {
	color: #ff6400;
}
#news-feed .date {
	position: absolute;
	top: 12px;
	left: 22px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: #777;
	background-color: #fff;
	border: 1px solid #999;
	width: 2.2em;
}
#news-feed .date span {
	width: 100%;
	display: block;
	background-color: #ff6400;
	color: #fff;
	font-size: 12px;
}
#news-feed p {
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
}
/* Pagination Styles */
.pagination span {
	width: 25px;
	line-height: 25px;
	display: block;
	float: left;
	text-align: center;
	font-size: 1.3em;
	vertical-align: middle;
	margin-left: 2px;
	margin-bottom: 8px;
	border: 1px solid #DDDDDD;
	font-weight: bold;
}
.pagination span.current {
	border: 0;
}
.pagination span a {
	text-decoration: none;
	font-size: inherit;
	display: block;
	font-weight: inherit;
}
.pagination span a:hover {
	background-color: #F3F3F3;
}