.form-group {
    &.form-group-stacked {

        input {

            &:first-of-type {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }

            &:last-of-type {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
    }
}
