.DS_Store
.buildpath
.project
.settings
.idea
assets/cache/*
assets/page_types/*
!assets/page_types/.htaccess
!assets/page_types/default/
assets/page_types/default/*
!assets/page_types/default/.htaccess
system/cms/cache/*
system/cms/config/database.php
system/cms/logs/log-*.php
nbproject/
uploads/*

addons/*
!addons/shared_addons
addons/shared_addons/*

!addons/shared_addons/helpers
addons/shared_addons/helpers/*
!addons/shared_addons/helpers/index.html

!addons/shared_addons/libraries
addons/shared_addons/libraries/*
!addons/shared_addons/libraries/index.html

!addons/shared_addons/modules
addons/shared_addons/modules/*
!addons/shared_addons/modules/galleries
!addons/shared_addons/modules/index.html

!addons/shared_addons/widgets
addons/shared_addons/widgets/*
!addons/shared_addons/widgets/google_maps
!addons/shared_addons/widgets/twitter_feed
!addons/shared_addons/widgets/index.html

!addons/shared_addons/themes
addons/shared_addons/themes/*
!addons/shared_addons/themes/conjuction
!addons/shared_addons/themes/minimal
!addons/shared_addons/themes/index.html

!addons/shared_addons/plugins
addons/shared_addons/plugins/*
!addons/shared_addons/plugins/robots.php
!addons/shared_addons/plugins/example.php
!addons/shared_addons/plugins/index.html

!addons/shared_addons/field_types
addons/shared_addons/field_types/*
!addons/shared_addons/field_types/index.html
system/cms/config/config.php
