.buildpath
.project
.settings
.DS_Store
application/cache/*_m/*
application/cache/*_lib/*
application/cache/dwoo/compiled/*.php
application/cache/simplepie/*.spc
application/cache/twitter/*
application/assets/img/photos/*/*
application/uploads/assets/*
codeigniter/logs/log-*.php
nbproject/
uploads/galleries/*
