<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap/autoload.php"
         convertWarningsToExceptions="true"
         convertNoticesToExceptions="true"
         convertErrorsToExceptions="true"
         backupStaticAttributes="false"
         processIsolation="false"
         stopOnFailure="false"
         backupGlobals="false"
         syntaxCheck="false"
         colors="true">

    <testsuites>
        <testsuite name="Streams">
            <directory suffix="Test.php">./vendor/anomaly/streams-platform/</directory>
        </testsuite>
        <testsuite name="Application">
            <directory suffix="Test.php">./addons/*/*/*/tests</directory>
        </testsuite>
        <testsuite name="Core">
            <directory suffix="Test.php">./core/*/*/tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./vendor/anomaly/streams-platform/src/</directory>
            <exclude>
                <directory suffix=".php">./app/</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./coverage" charset="UTF-8"
             yui="true" highlight="true"/>
    </logging>

    <php>
        <server name="HTTP_HOST" value="http://localhost"/>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
    </php>

</phpunit>
