
html{
	background:url(../../img/admin/grey/background_light.png);
}
#wrapper {
	background:url(../../img/admin/grey/header.jpg) top left repeat-x;
}
#innerContent{
	background:url(../../img/admin/grey/content_bg.png) repeat-y right;
}
a {
	color:#3D3333;	
}
.button {
	background:url("../../img/admin/grey/sprite.png") no-repeat 0 -180px;
}
.button strong {
	background:url("../../img/admin/grey/sprite.png") no-repeat 100% -150px;
}
.button .expand {
	background:url("../../img/admin/grey/sprite.png") no-repeat 100% -2250px;
}
button.small-button {
	background:url("../../img/admin/grey/sprite.png") no-repeat 0 -2970px;
}
button.small-button strong {
	background:url("../../img/admin/grey/sprite.png") no-repeat 100% -2940px;
}
button.small-button:hover {
	background:url("../../img/admin/grey/sprite.png") no-repeat 0 -3030px;
}
button.small-button:hover strong {
	background:url("../../img/admin/grey/sprite.png") no-repeat 100% -3000px;
}
.ui-dialog .ui-dialog-titlebar { 
background:transparent url(../../img/admin/grey/sprite.png) no-repeat scroll 0 -990px;

}
.ui-dialog .ui-dialog-title { 
background:transparent url(../../img/admin/grey/sprite.png) no-repeat scroll 100% -810px;
} 
.ui-dialog .ui-dialog-titlebar-close { 
background: url(../../img/admin/grey/sprite.png) repeat scroll 100% -2880px;
}
.ui-dialog .ui-dialog-titlebar-close:hover{
	background: url(../../img/admin/grey/sprite.png) repeat scroll 100% -2910px;
}
.ui-dialog-content .content {
	background:url(../../img/admin/grey/b1_bg.png) repeat-y right;
}
.listTable thead th, .listTable thead div {
	background:url(../../img/admin/grey/sprite.png) no-repeat -10px -1170px;
}
.listTable thead th.first {
	background:url(../../img/admin/grey/sprite.png) no-repeat 10px -1170px;
}
.listTable thead th.first div {
	background:url(../../img/admin/grey/sprite.png) no-repeat 0px -1350px;
}
.listTable thead th.last {
	background:url(../../img/admin/grey/sprite.png) no-repeat 100% -1170px;
}
.listTable tfoot td {
	background:url(../../img/admin/grey/sprite.png) 0px -2220px;
}
.listTable tfoot td .inner {
	background:url(../../img/admin/grey/sprite.png) 100% -2040px;
}
.content form div.fieldsetBlock {
	background:url(../../img/admin/grey/fieldset.png) -900px 100% no-repeat;
}
.content form div.fieldsetBlock  .bBR {
	background:url(../../img/admin/grey/fieldset.png) -1790px -20px repeat-y;
}
.content form div.fieldsetBlock .header {
	background:url(../../img/admin/grey/sprite.png) 100% -1170px;
}
.content form div.fieldsetBlock  h3 {
	background:url(../../img/admin/grey/sprite.png) 0px -1350px;
}
.content form div.fieldsetBlock  fieldset {
	background:url(../../img/admin/grey/fieldset.png) top right repeat-y;
}
.content form .field {
	background:url(../../img/admin/grey/fieldset.png) 0px 100% no-repeat;
}
.ui-tabs-nav li a {
	background:url(../../img/admin/grey/sprite.png) 0px -2790px no-repeat;
}
.ui-tabs-nav li a span {
	background:url(../../img/admin/grey/sprite.png) 100% -2760px no-repeat;
}
.ui-tabs-nav li a:hover, .ui-tabs-nav li.ui-tabs-selected a {
	background:url(../../img/admin/grey/sprite.png) 0px -2850px no-repeat;
}
.ui-tabs-nav li a:hover span, .ui-tabs-nav li.ui-tabs-selected a span {
	background:url(../../img/admin/grey/sprite.png) 100% -2820px no-repeat;
}
.bTop, .bTop div, .bBottom, .bBottom div {
	background-image:url(../../img/admin/grey/sprite.png);
}
#header a.viewWebsite {
	background:url(../../img/admin/grey/sprite.png) no-repeat 0px -60px;
}
#header a.viewWebsite span {
	background:url(../../img/admin/grey/sprite.png) no-repeat 100% -30px;
}
#sidebar, #sidebar .bInner, #sidebar .bTR, #sidebar .bBL {
	background-image:url(../../img/admin/grey/sidebar.png)
}
#page-title {
	background:url(../../img/admin/grey/sprite.png) no-repeat 100% -810px;
}
#page-title h2 {
	background:url(../../img/admin/grey/sprite.png) no-repeat 0px -990px;
}
#titleActions .listSearch .search {
	background:url("../../img/admin/grey/sprite.png") no-repeat 0 -420px;
}
#titleActions .listSearch .search input {
	background:url("../../img/admin/grey/sprite.png") no-repeat 100% -390px;
}
#toolbarActions {	
	background:url(../../img/admin/grey/sprite.png) 100% -2660px;
}
#header h1 {
	background:url(../../img/admin/grey/header_glow.png) top center no-repeat;
}
#header h1 a {
	background:url(../../img/admin/grey/logo.png) center left no-repeat;
}
#header {
	background:url(../../img/admin/grey/header.png) repeat-x top;
}
.button .expanded {
	background-position:100% -2280px;
}
#sidebar li ul li {
	color:#eeeeee;
}
#sidebar li ul li a {
	color:#eeeeee;
}
#sidebar li ul li.active a {
	color:#ffffff;
}
/* Background colors */
.b2, thead.b2 td, tfoot.b2 td  {
	background-color:#72d4e3;
}
.b3, thead.b3 td, tfoot.b3 td  {
	background-color:#a5948a;
}
.b4 {
	background-color:#ebf7f9;
}
/* Borders */
.b2 .alignLeft {
	border-color:#aae5ee;
}

/* Tables */
thead.b3 td:hover {
	background-color:#775f51;
}

#header .viewWebsite,#title h2{
	color:#fff;
}
