#files-browser {
	display: table;
	width: 100%;
	margin-bottom: 20px;
	background-color: #FFFFFF;
	color: #333333;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
}

#files-browser-nav {
	width: 20%;
	display: table-cell;
	border-right: 1px solid #CCCCCC;
	padding: 10px 0;
	vertical-align: top;
}
#files-browser-nav ul,
#files-browser-nav ul li,
#files-toolbar ul,
#files-toolbar ul li {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
#files-browser h3 {
	margin: 0;
	padding: 3px 0 5px 0px;
}
#files-browser-contents h3 {
	margin: 0px 200px 0px 0px;
}

#files-browser-contents {
	width: 80%;
	display: table-cell;
	padding: 10px;
}
#files-browser-contents form {
	position: relative;
}

#files-browser-nav h3 {
	padding-left: 10px;
}
#files-browser-nav li a {
	padding: 10px;
	background: transparent;
	display: block;
	text-decoration: none;
	color: #666666;
}
#files-browser-nav li a:hover {
	background-color: #F4F4F4;
	color: #333333;
}
#files-browser-nav li.current a {
	background-color: #3a4043;
	color: #FFFFFF;
}

#files-toolbar { margin: 5px -10px 10px; border: 1px solid #ccc; border-right: 0; border-left: 0; padding: 5px; background: #f9f9f9; }
#files-toolbar ul li {
	display: inline-block;
	padding-left: 5px;
	vertical-align: middle;
}
#files-toolbar li.buttons { border-left: 1px solid #ccc; }
#files-toolbar label {
	font-weight: bold;
}
#files-toolbar a.button {
	padding-top: 2px;
	padding-bottom: 2px;
}

#files-uploader { position: relative; margin: 0 5px; }
#files-uploader .files-uploader-browser { padding-bottom: 75px; }
#files-uploader > .buttons { position: absolute; bottom: 0; right: 0; }
#files-uploader form.file_upload {
	background-color: transparent;
	border: 2px dashed #d0d0d0;
	margin: 20px auto 30px;
	min-height: 100px;
}
#files-uploader label.upload {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 200px;
    height: 30px;
    line-height: 30px;
    margin-left: -100px;
    margin-top: -15px;
}
#files-uploader-queue {
    list-style-type: none;
    margin: 0 0 20px 0;
    height: 185px;
    overflow-y: auto;
    background: #f9f9f9;
    border: 1px solid #ddd;
	padding: 0;
}
#files-uploader-queue li {
    margin: -1px 10px 10px;
    padding-top: 10px;
    border-top: 1px dotted #ddd;
}
#files-uploader-queue li > div {
    margin-right: 15px;
    display: inline-block;
    vertical-align: top;
}
#files-uploader-queue .file_upload_preview {
    border: 1px solid #ccc;
}
#files-uploader-queue .file_upload_preview div {
    width: 80px;
    height: 30px;
    border: 5px solid #fff;
    overflow: hidden;
    background: #fff;
}
#files-uploader-queue .file_upload_preview img {
    width: 80px;
}
#files-uploader-queue .filename {
    width: 290px;
    color: #666666;
    margin-top: 10px;
}
#files-uploader-queue .file_upload_progress {
    margin-top: 10px;
}
#files-uploader-queue .file_upload_cancel {
    margin-top: 5px;
    float: right;
    margin-right: 0;
}



#grid { display: none; }

#grid ul {
	list-style-type: none;
	margin-top: 10px;
}
#grid li {
	float: left;
	margin: 0 5px 5px 0;
	height: 100px;
	width: 190px;
	background-color: #f5f5f5;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	overflow: hidden;
}
#grid img {
	display: block;
	margin: 0 auto;
	margin-bottom: 5px;
}
#grid .actions,
#grid .actions a,
#grid .actions input {
	vertical-align: middle;
}
#grid .actions {
	padding: 5px 0;
}
#grid .actions a {
	border-left: 1px solid #c2c2c2;
	vertical-align: middle;
	padding-left: 2px;
}
#grid .actions a.download_file {
	border-left: none;
	padding: 0;
}

#files-display { position: absolute; right: 0; top: -42px; }
#files-display a { font-weight: bold; display: inline-block; }
#files-display a.toggle-view {
	display: inline-block;
	padding: 3px 7px;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}
#files-display a.active-view {
	background-color: #f2f2f2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#folders_crud fieldset,
#files_crud fieldset { margin-bottom: 0; }

.blank-slate.files,
.blank-slate.file-folders {
	margin: 20% auto;
}