{{ noparse }}
<!--
- If you have enabled the slider via the theme 
- options(Admin > Design > Themes > Base > Options) 
- this will display on the home page of your site.
-
- You can add a definitive URL to your images or, 
if you've uploaded them into the themes image 
- directory(addons/<site_ref>/themes/base/img/)
- you can use {{ theme:image file="filename.jpg" }}
-->
{{ /noparse }}
<div class="flexslider">
	<ul class="slides">
		<li>{{ theme:image file="responsive.jpg" }}</li>
		<li>{{ theme:image file="colors.jpg" }}</li>
		<li>{{ theme:image file="backgrounds.jpg" }}</li>
	</ul>
</div>