<tfoot>
<tr>
    <td colspan="100%" style="padding: 15px 0 0;">

        <div class="btn-group">
            <button type="button" class="btn btn-danger btn-sm">Mass Action</button>
            <button type="button" class="btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
            </ul>
        </div>

        <div class="btn-group pull-right">
            <a type="button" class="btn btn-link btn-sm"><i class="fa fa-chevron-left"></i></a>
            <a type="button" class="btn btn-link btn-sm"><i class="fa fa-chevron-right"></i></a>
        </div>

        <div class="btn-group pull-right" style="margin-right: 15px;">
            <button type="button" class="btn btn-link btn-sm">Showing 25 results</button>
            <button type="button" class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">10</a></li>
                <li><a href="#">50</a></li>
                <li><a href="#">100</a></li>
            </ul>
        </div>

    </td>
</tr>
</tfoot>
