<tfoot>

{{ if options.actions }}
<tr>
    <td class="select-box">
        <input type="checkbox" onclick="$(this).closest('table').find(':checkbox').prop('checked', this.checked);"/>
    </td>
    <td colspan="100%">

        <!-- Split button -->
        <div class="btn-group">
            <button type="button" class="btn btn-xs btn-danger">Delete</button>
            <button type="button" class="btn btn-xs btn-danger dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>

    </td>
</tr>
{{ endif }}

<tr>
    <td colspan="100%">

        <ul class="pagination">
            <li>
                <a href="{{ url.current }}?page={{ pagination.previous }}">&laquo;</a>
            </li>
            <li>
                <a href="{{ url.current }}?page={{ pagination.next }}">&raquo;</a>
            </li>
        </ul>

    </td>
</tr>
</tfoot>