		<div id="logo">
			<h1>{anchor('', $settings->item('site_name'))}</h1>
			<p><em>{$settings->item('site_slogan')}</em></p>
		</div>
		<hr />
		<div id="header">
			<div id="menu">
				<ul>
				{foreach navigation('header') link}
					<li>{anchor( $link->url, $link->title, array(target=$link->target))}</li>
				{/foreach}
				</ul>
			</div>
			<div id="search">
				<form method="get" action="">
					<fieldset>
						<input type="text" name="s" id="search-text" size="15" />
						<input type="submit" id="search-submit" value="GO" />
					</fieldset>
				</form>
			</div>
		</div>
