#page-list { 
	background-color:#efeff6;
	border:1px #BBB solid;
	float:left;
	height: 35em;
	overflow:auto;
	width: 48%;
}

#page-list ol { background:none; margin-left:2em !important; }
#page-list a { text-decoration: none; color:black; padding:0.2em }
#page-list a:hover { text-decoration: underline; }

.plus { list-style-image: url('../img/plus.gif'); }
.minus { list-style-image: url('../img/minus.gif'); }

#page-details {
	background-color: #fff;
	border-top: 1px solid #ddd;
	border-left: none;
	border-right: none; 
	float:right;
	min-height: 33em;
	padding:1em;
	width: 48%;
	color: #666;
}

#page-details h4 { margin:0.5em 0; }
#page-details fieldset { 
	border: 1px solid #ddd;
	border-right: none;
	border-left: none;
	background-color: #fcfcfc;
	padding: 0px 5px;
}
#page-details fieldset p strong {
	width: 35%;
	display: inline-block;
	text-align: right;
	padding-right: 10px;
}
#page-details fieldset legend {
	margin-left: 10px;
	font-weight: bold;
}

/* Sortable CSS */

.placeholder {
	background-color: #cfcfcf;
}

.ui-nestedSortable-error {
	background:#fbe3e4;
	color:#8a1f11;
}

ol {
	margin: 0;
	padding: 0;
	padding-left: 30px;
}

ol.sortable, ol.sortable ol {
	margin: 0 0 0 25px;
	padding: 0;
	list-style-type: none;
}

ol.sortable {
	margin: 2em;
}

.sortable li {
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.sortable li div  {
	padding: 3px 1px 3px 5px;
	margin: 0;
	cursor: move;
}

.sortable li div:hover {
	background-color: #e7e7ed;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}