.box .collapsed {
display: none; border: none;
}

/*
.box .collapsed #link-list {
	height: 20px;
}
*/
section.title > ul {
	padding: 0 16px !important;
}
section.title li {
/* line-height: 35px; */
	/* float:left; */
	display: inline;
	/* width:50%; */
}

section.title li .button {
	float:right;
	display: inline-block;
	margin-left: 10px;
/* margin-top: 6px; */
}

section.title .form-title {
	margin-left:20px;
}

.hidden {
	display:none;
}

/* Left pane */
#link-list {
	display: inline-block;
	padding:0px 0px 0 0;
/* float:left; */
	/* height:32em; */
	/* border-right:2px dotted #ddd; */
	overflow:auto;
	width:50%;
}

#link-list.empty {
	border-right: none;
}

#link-list ul {
	background:none;
	margin-left:1em!important;
}

#link-list > ul {
	margin-left:0!important;
}

#link-list a {
	text-decoration:none;
	font-size:13px;
	color:#5c5b5b;
	padding:1px 1px 1px 15px;
	background:url(../img/off.png) no-repeat left;
}

#link-list a:hover {
	text-decoration:underline;
}

#link-list a.selected {
	color:#000;
	background:url(../img/on.png) no-repeat left;
}

/* Sortable CSS */
.ui-nestedSortable-error {
	background:#fbe3e4;
	color:#8a1f11;
}

.sortable li {
	margin:5px 0;
	padding-left:0px;
}

.sortable li div {
	padding:5px 1px 5px 10px;
	margin:0;
	cursor:move;
	background:url(../../../themes/pyrocms/img/icons/drag_handle_dark.gif) #eee no-repeat 99% 5px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
}

.sortable li div:hover {
	background-color:#dbdbdb;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
}

.sortable li.placeholder {
	background-color:#c2c0c0;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	margin-left:20px;
}

.plus {
	background:url(../img/more.png) no-repeat 0 4px;
}

.minus {
	background:url(../img/less.png) no-repeat 0 4px;
}

/* Right pane */
#link-details #nav-edit li {
	padding:8px;
}

#link-details {
	display:inline-block;
	/* border-left:2px dotted #ddd; */
	padding-left: 5px;
	float:right;
	width:49%;
	color:#666;
}

#link-details fieldset {
	border:1px solid #ddd;
	border-right:none;
	border-left:none;
	background-color:#fff;
	padding:0 5px;
}

#link-details fieldset p strong {
	width:35%;
	display:inline-block;
	text-align:right;
	padding-right:10px;
}

#link-details fieldset legend {
	margin-left:10px;
	font-weight:700;
}

#details-container {
	/*
width:100%;
	padding:0 20px;
*/
display: inline-block;
background-color: #f6f6f6;
margin: -16px, -16px, -16px, 0px;
-webkit-border-radius-top-right: 4px;
-moz-border-radius-top-right: 4px;
-o-border-radius-top-right: 4px;
border-radius-top-right: 4px;
-webkit-border-radius-bottom-right: 4px;
-moz-border-radius-bottom-right: 4px;
-o-border-radius-bottom-right: 4px;
border-radius-bottom-right: 4px;
}