<div class="float-left">
	<h1>{$settings->item('site_name')}</h1>
	<h2>{$settings->item('site_slogan')}</h2>
</div>

<div class="float-right" style="padding:1em;text-align:right">
	{if $session->userdata('user_id')}
		{sprintf lang('logged_in_welcome') cat($user->first_name ' ' $user->last_name)} <a href="{site_url('users/logout')}">{lang('logout_label')}</a><br/>
	
		{if $settings->item('enable_profiles')}
			{anchor('edit-profile', lang('edit_profile_label'))} | 
		{/if}
		
		{anchor('edit-settings', lang('settings_label'))}
		
		{if $user->group == 'admin'}
			 | {anchor('admin', lang('cp_title'), 'target="_blank"')}
		{/if}
		
	{else}
		{$load->view('users/login_small')}
	{/if}
</div>