{if '{pyro:theme:options option="layout"}' == 'full-width'}
<!-- Begin full width content -->
<div id="full-content">
	{pyro:theme:partial name="breadcrumbs"}
	{pyro:session:messages success="success-box" notice="notice-box" error="error-box"}
	<section class="post">
		{pyro:template:body}
		<br style="clear:both;" />
	</section>
</div>
<!-- End full width content -->
{elseif '{pyro:theme:options option="layout"}' == 'full-width-home'}
	{if '{pyro:page:is_home}' == TRUE}
<!-- Begin full width home page -->
<div id="full-content">
	{pyro:theme:partial name="breadcrumbs"}
	{pyro:session:messages success="success-box" notice="notice-box" error="error-box"}
	<section class="post">
		{pyro:template:body}
		<br style="clear:both;" />
	</section>
</div>
<!-- End full width home page -->
	{else}
<!-- Begin 2 column content -->
<div id="content">
	{pyro:theme:partial name="breadcrumbs"}
	{pyro:session:messages success="success-box" notice="notice-box" error="error-box"}
	<section class="post">
		{pyro:template:body}
		<br style="clear:both;" />
	</section>
</div>
<!-- End 2 column content -->
{pyro:theme:partial name="sidebar"}
	{/if}
{else}
<!-- Begin 2 column content -->
<div id="content">
	{pyro:theme:partial name="breadcrumbs"}
	{pyro:session:messages success="success-box" notice="notice-box" error="error-box"}
	<section class="post">
		{pyro:template:body}
		<br style="clear:both;" />
	</section>
</div>
<!-- End 2 column content -->
{pyro:theme:partial name="sidebar"}
{/if}