<!-- Begin footer -->
<div id="footerWrapper">
	<div id="footer">

	<div id="poweredby"><a href="http://pyrocms.com/"><img src="{$pyro.application_uri}/themes/default/img/logo.png" alt="Poweredby PyroCMS"> Powered by PyroCMS</div>

	<ul id="foot-nav">
		{pyro:navigation:links group="footer"}
		<li><a class="last" href="#top" title="Back to Top">Top &uarr;</a></li><br />
		&copy;{date('Y')} {$settings->site_name}. All Rights Reserved.
	</ul>

	</div>
</div>
<!-- End footer -->

</div>
<!-- End pageWrapper -->

<!-- Begin scripts -->
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">google.load('jquery', '1.4.2');</script>
<script type="text/javascript" src="{$pyro.application_uri}/themes/default/js/localscroll.js"></script>
<script type="text/javascript" src="{$pyro.application_uri}/themes/default/js/scrollto.js"></script>
<script type="text/javascript" src="{$pyro.application_uri}/themes/default/js/easing.js"></script>
<script type="text/javascript" src="{$pyro.application_uri}/themes/default/js/cufon.js"></script>
<script type="text/javascript" src="{$pyro.application_uri}/themes/default/js/qk.font.js"></script>
<script type="text/javascript" src="{$pyro.application_uri}/themes/default/js/global.js"></script>
<!-- End scripts -->

<script type="text/javascript">Cufon.now();</script>

</body>
</html>