<!-- Begin logo -->
<div id="logo">
<h1><a href="{pyro:url:site}" title="Home">{pyro:settings:site_name}</a></h1>
<h2 class="slogan">{pyro:settings:site_slogan}</h2>
</div>
<!-- End logo -->

<!-- Begin user meta -->
<div id="user-meta">
{if '{pyro:session:data name="user_id"}'}

	<a href="{pyro:url:site}users/logout">{pyro:helper:lang line="logout_label"}</a>
	<span class="nav-splitter">&nbsp;&bull;&nbsp;</span>

	{if '{pyro:settings:enable_profiles}'}
		<a href="{pyro:url:site}edit-profile">{pyro:helper:lang line="edit_profile_label"}</a>
		<span class="nav-splitter">&nbsp;&bull;&nbsp;</span>
	{/if}

	<a href="{pyro:url:site}edit-settings">{pyro:helper:lang line="settings_label"}</a>

	{if '{pyro:user:logged_in}'}
		<span class="nav-splitter">&nbsp;&bull;&nbsp;</span>
		<a href="{pyro:url:site}admin" target="_blank">{pyro:helper:lang line="cp_title"}</a>
	{/if}
	
{else}

	<form action="{pyro:url:site}users/login" method="post" accept-charset="utf-8" id="login-small">

		<ul>
			<li class="email">
			<input type="text" id="email" name="email" maxlength="120" value="Email Address" onblur="if (this.value == '') { this.value = 'Email Address'; }"  onfocus="if (this.value == 'Email Address') { this.value = ''; }" />
			</li>

			<li class="pword">
				<input type="password" id="password" name="password" maxlength="20" value="Enter Password" onblur="if (this.value == '') { this.value = 'Enter Password'; }"  onfocus="if (this.value == 'Enter Password') { this.value = ''; }" />
			</li>

			<li class="form-buttons">
				<input type="submit" value="Login" name="btnLogin" /> or &nbsp;<a href="{pyro:url:site}register">Signup</a>
				<input type="checkbox" id="remember-checksidebar" name="remember" value="1"  /><span>Remember Me</span>
			</li>

		</ul>
	</form>

{/if}
</div>
<!-- End user meta -->
