@font-face {
	font-family: "Proxima";
	src: url(../fonts/proxima-nova/proximanova-regular-webfont.eot?1307578394);
	src: url('../fonts/proxima-nova/proximanova-regular-webfont.eot?iefix') format('eot'),url(../fonts/proxima-nova/proximanova-regular-webfont.woff?1307578394) format('woff'),url(../fonts/proxima-nova/proximanova-regular-webfont.ttf?1307578394) format('truetype'),url('../fonts/proxima-nova/proximanova-regular-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
	font-family: "Proxima";
	font-style: italic;
	src: url(../fonts/proxima-nova/proximanova-regitalic-webfont.eot?1307578394);
	src: url('../fonts/proxima-nova/proximanova-regitalic-webfont.eot?iefix') format('eot'),url(../fonts/proxima-nova/proximanova-regitalic-webfont.woff?1307578394) format('woff'),url(../fonts/proxima-nova/proximanova-regitalic-webfont.ttf?1307578394) format('truetype'),url('../fonts/proxima-nova/proximanova-regitalic-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
	font-family: "Proxima";
	font-weight: 300;
	src: url(../fonts/proxima-nova/proximanova-light-webfont.eot?1307578394);
	src: url('../fonts/proxima-nova/proximanova-light-webfont.eot?iefix') format('eot'),url(../fonts/proxima-nova/proximanova-light-webfont.woff?1307578394) format('woff'),url(../fonts/proxima-nova/proximanova-light-webfont.ttf?1307578394) format('truetype'),url('../fonts/proxima-nova/proximanova-light-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
	font-family: "Proxima";
	font-weight: 600;
	src: url(../fonts/proxima-nova/proximanova-semibold-webfont.eot?1307578394);
	src: url('../fonts/proxima-nova/proximanova-semibold-webfont.eot?iefix') format('eot'),url(../fonts/proxima-nova/proximanova-semibold-webfont.woff?1307578394) format('woff'),url(../fonts/proxima-nova/proximanova-semibold-webfont.ttf?1307578394) format('truetype'),url('../fonts/proxima-nova/proximanova-semibold-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
	font-family: "Proxima";
	font-weight: 600;
	font-style: italic;
	src: url(../fonts/proxima-nova/proximanova-semibolditalic-webfont.eot?1307578394);
	src: url('../fonts/proxima-nova/proximanova-semibolditalic-webfont.eot?iefix') format('eot'),url(../fonts/proxima-nova/proximanova-semibolditalic-webfont.woff?1307578394) format('woff'),url(../fonts/proxima-nova/proximanova-semibolditalic-webfont.ttf?1307578394) format('truetype'),url('../fonts/proxima-nova/proximanova-semibolditalic-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
	font-family: "Proxima";
	font-weight: bold;
	src: url(../fonts/proxima-nova/proximanova-bold-webfont.eot?1307578394);
	src: url('../fonts/proxima-nova/proximanova-bold-webfont.eot?iefix') format('eot'),url(../fonts/proxima-nova/proximanova-bold-webfont.woff?1307578394) format('woff'),url(../fonts/proxima-nova/proximanova-bold-webfont.ttf?1307578394) format('truetype'),url('../fonts/proxima-nova/proximanova-bold-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
	font-family: "Proxima";
	font-weight: bold;
	font-style: italic;
	src: url(../fonts/proxima-nova/proximanova-boldit-webfont.eot?1307578394);
	src: url('../fonts/proxima-nova/proximanova-boldit-webfont.eot?iefix') format('eot'),url(../fonts/proxima-nova/proximanova-boldit-webfont.woff?1307578394) format('woff'),url(../fonts/proxima-nova/proximanova-boldit-webfont.ttf?1307578394) format('truetype'),url('../fonts/proxima-nova/proximanova-boldit-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
	font-family: "Proxima";
	font-weight: 900;
	src: url(../fonts/proxima-nova/proximanova-extrabold-webfont.eot?1307578394);
	src: url('../fonts/proxima-nova/proximanova-extrabold-webfont.eot?iefix') format('eot'),url(../fonts/proxima-nova/proximanova-extrabold-webfont.woff?1307578394) format('woff'),url(../fonts/proxima-nova/proximanova-extrabold-webfont.ttf?1307578394) format('truetype'),url('../fonts/proxima-nova/proximanova-extrabold-webfont.svg#webfont2rpW2ohz') format('svg')
}