@import 'default.css';
@import 'content.css';

body {
	margin: 0;
	padding: 0;
	background: url(../img/img02.jpg) repeat-x left top;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #666666;
}

a {
	color: #0077dd;
}

textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

/** HEADER */

#header {
	width: 70%;
	margin: 0px auto;
	padding: 1em;
	height: 90px;
	color: #254360;
}

#header h1 {
	margin: 0;
	padding: 0.8em 0 0 0;
	text-transform: uppercase;
	font-weight: bold;
}

#header h2 {
	margin: 0 0 0 -5.5em;
	padding: 0 0 0 7em;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.98em;
}

/** MENU */

#menu {
	width: 70%;
	margin: 0 auto;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	background: url(../img/img04.gif) no-repeat right 50%;
	padding: 0 1.7em 0 1.7em;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.9em;
	color: #FFFFFF;
}

#menu a:hover {
	background: #FFFFFF;
	color: #254360;
}

#menu .active {
	background: #FFFFFF;
	color: #254360;
}

/** CONTENT */

#content {
	width: 70%;
	min-height:35em;
	margin: 0 auto;
	padding: 2.5em 0 1.8em 0;
}

#left-column {
	float: left;
	width: 20%;
}

#left-column h3 {
	border-bottom: 1px dashed #EEEEEE;
	border-spacing: 2px;
	font-size: 11pt;
	font-weight: bold;
}

#right-column {
	float: right;
	width: 75%;
	padding-left: 20px;
	border-left: 1px dashed #EEEEEE;
}

.sidebar h2 {
	height: 22px;
	border-bottom: 1px dashed #EEEEEE;
	font-size: 12pt;
	font-weight: bold;
}

#navigation ul {
	list-style: none;
}

/** FOOTER */

#footer {
	clear: both;
	margin: 0px auto;
	height: 59px;
	background: url(../img/img03.gif) repeat-x left top;
	text-align: center;
}

#footer p {
	margin: 0px;
	padding: 18px 0px 0px 0px;
	font-size: 10px;
	color: #FFFFFF;
}

#footer a {
	color: #CCCCCC;
}