#available-widgets li { z-index:1; }

#available-widgets li a { 
	background-color: #ffffe0;
}

#available-widgets li.ui-draggable-dragging a { 
	background-color: #fff;
	width:16.7em;
}

.widget-area .box-container {
	background-color: #ffffe0;
	min-height: 10em;
	z-index:0;
}

	.widget-area .box-container .button {
		margin-top:-3.4em;
	}
