/*---------------------------------------------------------------
//	HTML5 RESET
//---------------------------------------------------------------
//	html5doctor.com Reset Stylesheet
//	v1.4.1 
//	2010-03-01
//	Author: Richard Clark - http://richclarkdesign.com
//--------------------------------------------------------------*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    min-height: 100%;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*---------------------------------------------------------------
// STRUCTURE
//---------------------------------------------------------------
// Grid system borrowed from Stubornella's OOCSS: 
//		http://wiki.github.com/stubbornella/oocss/
//--------------------------------------------------------------*/

div#page {
	width: 960px;
	margin: 10px auto;
	text-shadow: 0px 1px 3px #000;
}
div#page.left-edge {
	margin: 0;
}

footer {
	clear: both;
	border-top: 1px solid #e6e6e6;
	margin-top: 1em;
	padding-top: 1em;
	color: #666;
}
section { padding-bottom: 30px; }

/* !Grid System  */

.row { *zoom: 1; display: table-row; }
.row:after,
.last-column:after {
	clear:both;
	display:block;
	visibility:hidden;
	overflow:hidden;
	height:0 !important;
	line-height:0;
	font-size:xx-large;
	content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}

.column { float: left; display: table-cell; }

.size1of1 { float: none; }
.size1of2 { width: 50%; }
.size1of3 { width: 33.33333%; }
.size2of3 { width: 66.6666%; }
.size1of4 { width: 25%; }
.size3of4 { width: 75%; }
.size1of5 { width: 20%; }
.size2of5 { width: 40%; }
.size3of5 { width: 60%; }
.size4of5 { width: 80%; }
.last-unit {
	float: none;
	width: auto;
}

/*---------------------------------------------------------------
// TYPE
//--------------------------------------------------------------*/

body {
	font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	background-color: #fff;
	color: #333;
}

a { color: #08c; }
a:link, a:visited, a:active { text-decoration: none; }
a:hover { text-decoration: underline; }

strong, b { font-weight: bold; }
em, i { font-style: italic; }

p { margin-bottom: 18px; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
h1 { font-size: 24px; line-height: 36px; margin-bottom: 18px; }
h2 { font-size: 16px; line-height: 18px; margin-bottom: 18px; }
h3 { font-size: 1em; line-height: 18px; }
h4 { font-size: 10px; line-height: 18px; }
p.intro { font-weight: bold; }

ul { margin-bottom: 18px; list-style: square outside; margin-left: 2em; }
ol { margin-bottom: 18px; list-style: decimal; margin-left: 2em; }

.horizontal ul { margin-left: 0; }
.horizontal li { float: left; padding: 0 9px; }
.horizontal li:first-child { padding-left: 0; }

/*---------------------------------------------------------------
//	GENERAL
//--------------------------------------------------------------*/

/* Positioning */
.left {
	float: left;
	margin: 0 10px 13px 0;
}
.right {
	float: right;
	margin: 0 0 13px 10px;
}

/* Clearfix */
.clearfix:after,
.horizontal ul:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


/*---------------------------------------------------------------
//	NOTIFICATIONS
//--------------------------------------------------------------*/
.notification {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding:  0.5em 20px;
	margin:  10px 0 20px 0;
}
.notification p {
	margin: 0;
	padding: 0;
	line-height: 1.5;
}
.attention {
    background: #fffbcc;
    border-color: #e6db55;
    color: #666452;
}
.information {
	background: #dbe3ff;
	border-color: #a2b4ee;
	color: #585b66;
}
.success {
	background: #d5ffce;
	border-color: #9adf8f;
	color: #556652;
}
.error {
	background-color: #ffcece;
	border-color:  #df8f8f;
	color:  #665252;
}

/*---------------------------------------------------------------
//	MAIN LAYOUT
//--------------------------------------------------------------*/

body { background-color: #ececec; text-align: center; }
#page { 
	background-color: #fff;
	border: 1px solid #d6d6d6;
	width: 880px;
	margin: 10px auto;
	text-align: left;
}
.content {
	padding: 0 20px 20px 20px;
}

/*---------------------------------------------------------------
// PAGE HEADER
//--------------------------------------------------------------*/
#main-header { 
	border-bottom: 1px solid #d6d6d6;
	background: #f6f6f6;
	vertical-align: baseline;
	height: 36px;
	overflow: hidden;
	position: relative;
}
#main-header h1 {
	font-size: 16px;
	line-height: 36px;top: -8px;
	margin-bottom: 0;
	display: inline;
}
#main-header .logo {
	height: 20px;
	display: inline;
	margin: 5px 10px 0 20px;
}

/*---------------------------------------------------------------
// MAIN NAVIGATION
//--------------------------------------------------------------*/

#nav-main {
	display: inline;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}
#nav-main ul { height: 36px; margin: 0; padding: 0; }
#nav-main li { 
	list-style: none outside;
	height: 100%;
	display: inline;
}
#nav-main a {
	display: inline-block;
	height: 100%;
	padding: 5px 10px;
	line-height: 24px;
	margin: 0;
	outline: none;
}
#nav-main a.current {
	border-right: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
	background: #fff;
}

/*---------------------------------------------------------------
// TOC MENU
//--------------------------------------------------------------*/

/* Menu wrapper */
#menu {
	position: relative;
	margin: 0 0 25px 0;
	padding: 10px;
	border-bottom: 1px solid #e6e6e6;
}
#menu ul {
	margin-bottom: 0;
}
#menu #menu-tab {
	position: absolute;
	right: 50px;
	bottom: -25px;
	border: 1px solid #e6e6e6;
	border-top: 1px solid #fff;
	padding: 3px 7px;
	background: #fff;
	outline: none;
}

/* The actual menu */
section #menu_bin {
	padding-bottom: 0;
	display: none;
}
#menu_bin ol {
	list-style: none;
	margin-left: 0;	
	margin-bottom: 0;
}


/*---------------------------------------------------------------
// TOC MENU
//--------------------------------------------------------------*/

blockquote, code {
	background-color:#F9F9F9;
	border:1px solid #B3B4BD;
	color:#143270;
	display:block;
	font-family:"courier new";
	font-size:11px;
	line-height: 1.2em;
	margin:0;
	margin-bottom: 1em;
	padding:6px;
	width:99%;
}