
span.move-handle { float: right; margin-right: 6px; width: 18px; height: 18px; cursor: move; background: url(../../../themes/admin_theme/img/icons/cursor_drag_arrow.png) no-repeat; }
.box-container div.tabs fieldset ol li { cursor: default; }
div.type-checkbox label { text-align: left; font-weight: normal; }