/**************************************/
/*               BASIC                */
/**************************************/

body {
	color: #333;
	font-family: Verdana, Arial, Geneva, sans-serif;
	font-size:100%;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/**************************************/
/*             HEADINGS               */
/**************************************/
h1 {
	font-size: 1.7em;
	margin: 0.2em 0;
}

h2 {
	font-size: 1.5em;
}

/** Global backend form.crud styles **/

/** tidy up how ol, ul look inside form.crud areas **/
form.crud ol, form.crud ul {
	list-style-type: none;
	padding: 0;
	margin: 0 0 10px 0;
}
form.crud li {
	margin: 0;
	vertical-align: middle;
	padding: 6px 8px;
}
form.crud li.even {
	background-color: #f3f3f3;
	-moz-border-radius: 5px 5px 5px 5px;
}
/** group labels and input **/
form.crud label {
	display: inline-block;
	float: left;
	font-weight: bold;
	font-size: 11px;
	width: 140px;
	max-width: 140px;
	min-width: 10em;
	margin-right: 15px;
	padding: .35em 0;
	color: #545454;
}
/*
fieldset ol li div, fieldset ul li div, form.crud ul li div {
	width: 75%;
	max-width: 75%;
	min-width: 25%;
}
*/

/** text input **/
form.crud input[type=text] {
	width: 20em;
}
/** selects **/
form.crud select {
	width: 20em;
}
/** this sits the width back to a fixed width for selects **/
form.crud div.selector {
	width: 200px;
}
/** check boxes **/
form.crud div.checker {
	margin-right: 0;
}
/** file upload element **/
form.crud ul li div.uploader {
	width: 190px;
}
/** helper text **/
form.crud li p, .text-small1 {
	color: #7E7E7E;
	font-style: italic;
}
span.text-small1 {
	line-height: 16px;
	vertical-align: middle;
}
form.crud .ui-state-active a {
	font-weight: bold;
}
form.crud span.required-icon {
	background:url("../../img/admin/input-required.png") no-repeat scroll 0 0 transparent;
	display:inline-block;
	height:20px;
	margin-left:-20px;
	overflow:hidden;
	position:relative;
	text-indent:-9000px;
	top:-4px;
	vertical-align:top;
	width:15px;
}
form.crud textarea {
	width: 22em;
}

/* Alerts */
.alert {
  width: 96%;
  background-color: rgba(0, 0, 0, 0.15);
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.15)));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.15));
  background-image: -ms-linear-gradient(transparent, rgba(0, 0, 0, 0.15));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.15));
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#15000000')";
  background-color: #e6e6e6;
  margin-bottom: 18px;
  padding: 8px 15px;
  color: #333333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.alert p {
  color: #ffffff;
  margin-bottom: 0;
}

.alert p + p {
  margin-top: 5px;
}

.alert.error {
  background-color: #d83a2e;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e4776f), to(#d83a2e));
  background-image: -moz-linear-gradient(#e4776f, #d83a2e);
  background-image: -ms-linear-gradient(#e4776f, #d83a2e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4776f), color-stop(100%, #d83a2e));
  background-image: -webkit-linear-gradient(#e4776f, #d83a2e);
  background-image: -o-linear-gradient(#e4776f, #d83a2e);
  background-image: linear-gradient(#e4776f, #d83a2e);
  border-bottom-color: #b32b21;
}

.alert.warning {
  background-color: #ffd040;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffe38d), to(#ffd040));
  background-image: -moz-linear-gradient(#ffe38d, #ffd040);
  background-image: -ms-linear-gradient(#ffe38d, #ffd040);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffe38d), color-stop(100%, #ffd040));
  background-image: -webkit-linear-gradient(#ffe38d, #ffd040);
  background-image: -o-linear-gradient(#ffe38d, #ffd040);
  background-image: linear-gradient(#ffe38d, #ffd040);
  border-bottom-color: #ffc40d;
}

.alert.success {
  background-color: #62bc62;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#97d397), to(#62bc62));
  background-image: -moz-linear-gradient(#97d397, #62bc62);
  background-image: -ms-linear-gradient(#97d397, #62bc62);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #97d397), color-stop(100%, #62bc62));
  background-image: -webkit-linear-gradient(#97d397, #62bc62);
  background-image: -o-linear-gradient(#97d397, #62bc62);
  background-image: linear-gradient(#97d397, #62bc62);
  border-bottom-color: #46a546;
}

.alert.info {
  background-color: #04aef4;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#62cffc), to(#04aef4));
  background-image: -moz-linear-gradient(#62cffc, #04aef4);
  background-image: -ms-linear-gradient(#62cffc, #04aef4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62cffc), color-stop(100%, #04aef4));
  background-image: -webkit-linear-gradient(#62cffc, #04aef4);
  background-image: -o-linear-gradient(#62cffc, #04aef4);
  background-image: linear-gradient(#62cffc, #04aef4);
  border-bottom-color: #049cdb;
}

.alert .close {
  float: right;
  margin-top: -4px;
  color: #333333;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 1px 0 #ffffff;
  filter: alpha(opacity=20);
  -khtml-opacity: 0.2;
  -moz-opacity: 0.2;
  opacity: 0.2;
}

.alert .close:hover {
  text-decoration: none;
  filter: alpha(opacity=40);
  -khtml-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
}