div.file-picker-modal {
    padding:0;
    width:670px;
}
div.file-picker-modal div.nav-bar {
    border:0 solid #EAEAEA;
    border-width: 0 0 1px 0;
    padding:5px;
    clear:both;
    margin:0;
    text-align: right;
}
div.file-picker-modal div.nav-bar button {
    margin: 0 5px 0 0;
}
div.file-picker-modal div.side {
    width: 210px;
    float: left;
    margin: 0;
    padding:0;

}
div.file-picker-modal div.right-side {
    padding:10px 0;
    width:460px;
    float:left;
    margin:0;
}
div.file-picker-modal #folders-sidebar .no_data { margin-right: 20px; }
div.file-picker-modal #folders-sidebar { width:90%; height: 470px; overflow-x: hidden; overflow-y: auto; list-style: none; margin: 0 auto;border-right: 1px solid #d8d8d8; padding:0}
div.file-picker-modal #folders-sidebar ul { display: none; list-style: none; margin-left:15px; width:90%;}

div.file-picker-modal #folders-sidebar li.folder {float:left;opacity: 1; width:100%;margin:0;}
div.file-picker-modal #folders-sidebar li.places {margin-top: 5px;}

div.file-picker-modal #folders-sidebar li a { width: 80%; padding: 0; cursor: pointer; font-size: 12px; display: inline-block; font-weight: normal; border: none;background: transparent;line-height: 1.8em;}

div.file-picker-modal #folders-sidebar li.places a { color: #808080; font-size: 14px; font-weight: bold; font-style: italic; }

div.file-picker-modal #folders-sidebar li div { width: 15px; height: 15px; float: left; margin:3px 4px 0 0; cursor: pointer; }

div.file-picker-modal #folders-sidebar li.folder > div { background: url(../../img/admin/file_picker/glyphicons-halflings-gray.png) no-repeat -384px -120px; }

div.file-picker-modal #folders-sidebar li.open > div { background: url(../../img/admin/file_picker/glyphicons-halflings-gray.png) no-repeat -408px -120px; }
/*#folders-sidebar li.close > div { background: url(../../img/admin/file_picker/glyphicons-halflings-gray.png) no-repeat -313px -117px; }*/
div.file-picker-modal #folders-sidebar li.current { background: url(../../img/admin/file_picker/current.png) no-repeat 100% 3px; }
div.file-picker-modal #folders-sidebar li.current > a {font-weight: bold;}


div.file-picker-modal #folders-sidebar li.open > ul {
    display:block;
}


div.file-picker-modal .folders-center { height: 450px; overflow-y: auto; overflow-x: hidden; margin:0; }
div.file-picker-modal .folders-center li:hover { background-color: #ededed; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
div.file-picker-modal .folders-center .folder { width: 100px; height: 112px; margin: 5px; overflow: hidden; float: left; background: url(../../img/admin/file_picker/folder.png) no-repeat; list-style: none; }
div.file-picker-modal .folders-center li .name-text { display: block; margin: 80px 2% 0; color: #515151; font-size: 11px; height: 15px; overflow: hidden; text-align: center; cursor: default; width: 96%;}
div.file-picker-modal .folders-center li .name-text input { width: 92px; margin: 0; padding: 0; background: transparent; border: none; margin: 0; padding: 0; text-align: center; }

div.file-picker-modal .folders-center .file {
    list-style: none; width: 100px; height: 112px; margin: 5px; overflow: hidden; float: left; position:relative;
}
div.file-picker-modal .folders-center .selected { background-color: #e0e0e0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
div.file-picker-modal .folders-center .file .name-text { margin-top: 83px; cursor: default; float:left;}
div.file-picker-modal .folders-center .file.type-a { background-image: url(../../img/admin/file_picker/a.png); }
div.file-picker-modal .folders-center .file.type-d { background-image: url(../../img/admin/file_picker/d.png); }
div.file-picker-modal .folders-center .file.type-o { background-image: url(../../img/admin/file_picker/o.png); }
div.file-picker-modal .folders-center .file.type-v { background-image: url(../../img/admin/file_picker/v.png); }
div.file-picker-modal .folders-center .file.type-i .name-text { margin-top: 7px; }
div.file-picker-modal .folders-center .file.type-i img {
    float:left;
    padding:25px 13px 0;
}
div.file-picker-modal .folders-center div.selected-icon {
    background-image:url(../../img/admin/icons/16/tick-circle.png);
    width:16px;
    height:16px;
    position: absolute;
    display:none;
    top:24px;
    right:10px;
}
div.file-picker-modal .folders-center input.file-selector {
    position:absolute;
    top:0;
    left:5px;
}
div.file-picker-modal .folders-center .selected div.selected-icon {
    display:block;
}
div.file-picker-container {

}
div.file-container {
    min-height: 38px;
    width: 80%;
    float:left;
}
ul.selected-files-container {
    list-style:none;
}
ul.selected-files-container li {
    float:left;
    padding:5px 0 5px 5px;
    margin:5px;
    border:1px solid #AAAAAA;
    background-color:#eee;

    font-size: 12px;
    line-height: 1.2em;
}
ul.selected-files-container li a.unselected-button {
    margin-left:5px;
    float:right;
    line-height: 1em;
    padding:0;
    width:16px;
    height:16px;
    background:transparent url(../../img/admin/icons/16/cross-small-grey.png) no-repeat center center;
    text-decoration: none;
    border:none;
}
ul.selected-files-container li a.unselected-button:hover {
    background:transparent url(../../img/admin/icons/16/cross.png) no-repeat center center;
}
ul.selected-files-container li a.unselected-button span {
    display:none;
    text-decoration: none;
}
div.file-picker-container a.file-picker-link  {
    margin: 10px 0;
    padding:5px;
    line-height: 1em;
    border:none;
    border-radius:3px 3px 3px 3px;
    box-shadow: none;
    float:right;
    font-size:14px;
}
fieldset ul {
    width: 100%;
}