<table class="table table-hover">

    <!-- Table Head -->
    <thead>
    <tr>
        {{ if options.sortable }}
        <th class="sort-handle">
            <i class="fa fa-reorder" style="color: #dadada"></i>
        </th>
        {{ endif }}

        {{ if actions }}
        <th class="select-box">
            <input type="checkbox" onclick="$(this).closest('table').find(':checkbox').prop('checked', this.checked);"/>
        </th>
        {{ endif }}

        {{ headers }}
        <th>
            {{ header }}
        </th>
        {{ /headers }}

        <th>&nbsp;</th>
    </tr>
    </thead>


    <!-- Table Body -->
    <tbody>
    {{ rows }}
    <tr>
        {{ if data.options.sortable }}
        <td class="sort-handle">
            <i class="fa fa-reorder" style="cursor: move;"></i>
        </td>
        {{ endif }}

        {{ if data.actions }}
        <td class="select-box">
            <input type="checkbox"/>
        </td>
        {{ endif }}

        {{ columns }}
        <td>
            {{ data }}
        </td>
        {{ /columns }}

        <td class="text-right">
            {{ buttons }}
            <div class="btn-group">
                {{ link }}
                {{ if dropdown }}
                <button type="button" class="{{ attributes.class }} dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu pull-right">
                    {{ dropdown }}
                    <li><a href="{{ url }}">{{ title }}</a></li>
                    {{ /dropdown }}
                </ul>
                {{ endif }}
            </div>
            {{ /buttons }}
        </td>
    </tr>
    {{ /rows }}
    </tbody>


    <!-- Table Foot -->
    <tfoot>
    <tr>
        <td colspan="100%" style="padding: 15px;">

            <div class="btn-group">
                {{ actions }}
                {{ link }}
                {{ if dropdown }}
                <button type="button" class="{{ attributes.class }} dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    {{ dropdown }}
                    <li><a href="{{ url }}">{{ title }}</a></li>
                    {{ /dropdown }}
                </ul>
                {{ endif }}
                {{ /actions }}
            </div>

            <div class="btn-group pull-right">
                {{ pagination.links }}
            </div>

        </td>
    </tr>
    </tfoot>

</table>