
.item { height: 450px; overflow: hidden; }
.sidebar { width: 20%; }
.sidebar-left { border-left: 1px solid #d8d8d8; padding-left: 1%; width: 18%; min-height: 100%; }
section.two_third { width: 60%; }
section.two_third .no_data { margin: 40px 20px 20px 20px; }

.subsection-title { color: #808080; margin-bottom: 10px; font-size: 14px; font-weight: bold; font-style: italic; }

#folders-sidebar .no_data { margin-right: 20px; }
#folders-sidebar { height: 450px; border-right: 1px solid #d8d8d8; overflow-x: hidden; overflow-y: auto; }
#folders-sidebar ul { padding-left: 15px !important; display: none; }
#folders-sidebar li a { width: 80%; padding: 6px 3px 6px 3px; cursor: pointer; font-size: 14px; display: inline-block; }
#folders-sidebar li.places a { color: #808080; margin-bottom: 10px; font-size: 14px; font-weight: bold; font-style: italic; }
#folders-sidebar li div { width: 14px; height: 15px; float: left; margin-top: 4px; cursor: pointer; }
#folders-sidebar li.open > div { background: url(../img/glyphicons-halflings-gray.png) no-repeat -457px -70px; }
#folders-sidebar li.close > div { background: url(../img/glyphicons-halflings-gray.png) no-repeat -313px -117px; }
#folders-sidebar li.current { background: url(../img/current.png) no-repeat 98% 6px; }

.folders-center { height: 450px; overflow-y: auto; overflow-x: hidden; }
.folders-center li:hover { background-color: #ededed; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.folders-center .folder { width: 100px; height: 112px; margin: 10px; overflow: hidden; float: left; background: url(../img/folder.png) no-repeat; }
.folders-center li .name-text { display: block; margin: 0 4px 0 4px; color: #515151; font-size: 11px; height: 15px; overflow: hidden; margin-top: 80px; text-align: center; cursor: default; }
.folders-center li .name-text input { width: 92px; margin: 0; padding: 0; background: transparent; border: none; margin: 0; padding: 0; text-align: center; }

.folders-center .file { width: 100px; height: 112px; margin: 10px; overflow: hidden; float: left; }
.folders-center .selected { background-color: #e0e0e0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.folders-center .file .name-text { margin-top: 83px; cursor: default; }
.folders-center .file.type-a { background-image: url(../img/a.png); }
.folders-center .file.type-d { background-image: url(../img/d.png); }
.folders-center .file.type-o { background-image: url(../img/o.png); }
.folders-center .file.type-v { background-image: url(../img/v.png); }
.folders-center .file.type-i .name-text { margin-top: 7px; }
.folders-center .file.type-i img { padding: 25px 13px 0 13px; }

#item-details li { font-size: 14px; list-style: none; line-height: 26px; }
#item-details label { font-size: 14px; width: 130px; display: inline-block; }
#item-details span { padding-left: 5px; }
#item-details input.path { width: 250px; margin-left: 6px; }
#item-details textarea { width: 390px; min-height: 0; height: 75px; }

#console { margin-top: 5px !important; border-top: 1px solid #d8d8d8; }
#console li { padding: 10px 0 10px 10px; border-bottom: 1px solid #d8d8d8; }
#console .success { color: #52914D }
#console .failure { color: #B72C2C; }
#console .info { color: #354F68; }
#console li i { margin-right: 5px; float: left; }
li.right-title { padding-left: 0; }
li.right-title label { padding-left: 10px; }
li.right-title input { margin-left: 20px; width: 83%; }
li.right-title, li.right-title label { font-size: 14px; font-weight: bold; font-style: italic; border: none; }

#file-search { width: 170px; }
#search-results li { padding: 10px 0 10px 10px; border-bottom: 1px solid #d8d8d8; font-size: 13px; }
#search-results .folder { width: 20px; height: 20px; margin-right: 5px; float: left; background: url(../img/glyphicons-halflings-gray.png) no-repeat -405px -120px; }
#search-results .file { width: 20px; height: 20px; margin-right: 5px; float: left; background: url(../img/glyphicons-halflings-gray.png) no-repeat -19px -23px; }
#search-area { margin-bottom: 15px; }
.context-menu-source { display: none; position: absolute; width: 150px; background-color: #ededed; border: 1px solid #b7b7b7; border-radius: 2px; }
.context-menu-source li { height: 15px; cursor: pointer; color: #585858; font-size: 14px; padding: 7px 25px 7px 25px; border-bottom: 1px solid #e0e0e0; }
.context-menu-source li:hover { background-color: #e8e8e8; }

#files-uploader { position: relative; margin: 0 5px; }
#files-uploader .files-uploader-browser { padding-bottom: 75px; }
#files-uploader > .buttons { position: absolute; bottom: 20px; right: 0; }
#files-uploader form.file_upload {
	background-color: transparent;
	border: 2px dashed #d0d0d0;
	margin: 20px auto 30px;
	min-height: 100px;
    color: #585858;
    width: 99%;
}
#files-uploader label.upload {
    position: absolute;
    left: 50%;
    top: 20%;
    display: block;
    width: 200px;
    height: 30px;
    line-height: 30px;
    margin-left: -100px;
    margin-top: -15px;
}
#files-uploader-queue {
    list-style-type: none;
    margin: 0 0 20px 0;
    height: 185px;
    overflow-y: auto;
    background: #f9f9f9;
    border: 1px solid #ddd;
	padding: 0;
}
#files-uploader-queue li {
    margin: -1px 10px 10px;
    padding-top: 10px;
    border-top: 1px dotted #ddd;
}
#files-uploader-queue li > div {
    margin-right: 15px;
    display: inline-block;
    vertical-align: top;
}
#files-uploader-queue li > div * {
    vertical-align: middle;
}
#files-uploader-queue .file_upload_preview {
    border: 1px solid #ccc;
}
#files-uploader-queue .file_upload_preview div {
    width: 50px;
    height: 30px;
    border: 5px solid #fff;
    overflow: hidden;
    background: #fff;
}
#files-uploader-queue .file_upload_preview img {
    width: 50px;
}
#files-uploader-queue .filename {
    width: 100px;
    overflow: hidden;
    color: #666666;
    margin-top: 10px;
}
#files-uploader-queue .file_upload_progress {
    margin-top: 10px;
}
#files-uploader-queue .file_upload_cancel {
    margin-top: 5px;
    float: right;
    margin-right: 0;
}
#files-uploader-queue .file_upload_cancel label {
    margin-right: 5px;
}
#files-uploader-queue .file_upload_cancel select {
    margin-right: 10px;
    max-width: 90px;
}
#files-uploader-queue .file_upload_cancel input {
    margin-right: 10px;
}
.file_upload_cancel div.start-icon {
	margin-left: 5px;
    width: 30px;
    height: 30px;
    background: url(../img/upload.png) no-repeat 0 0;
    display: inline-block;
}
.file_upload_cancel div.cancel-icon {
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background: url(../img/cancel.png) no-repeat 0 0;
    display: inline-block;
}