
/** temporary so that it's a decent size while I work on it **/
.one_half { width: 760px; }
.right.one_quarter { width: 220px; }
/** end temporary **/

.item { height: 450px; overflow: hidden; }

.folders-sidebar { height: 450px; border-right: 1px solid #d8d8d8; }
.folders-sidebar li { padding: 3px; line-height: 20px; border-bottom: 1px solid #e0e0e0; cursor: pointer; }
.folders-sidebar li { border: none; }
.folders-sidebar li.places a { color: #808080; margin-bottom: 10px; font-size: 14px; font-weight: bold; font-style: italic; }
.folders-sidebar .open { list-style: url(../img/more.png) inside !important; }
.folders-sidebar .close { list-style: url(../img/less.png) inside !important; }

.folders-right { height: 450px; overflow-y: auto; overflow-x: hidden; }
.folders-right .folder { width: 100px; height: 112px; margin: 10px; overflow: hidden; float: left; background: url(../img/folder.png) no-repeat; }
.folders-right .selected { background-color: #e8e8e8; }
.folders-right .folder .folder-text { display: block; margin: 0 4px 0 4px; font-size: 11px; height: 15px; overflow: hidden; margin-top: 80px; text-align: center; }
.folders-right .folder .folder-text input { width: 92px; margin: 0; padding: 0; background: transparent; border: none; margin: 0; padding: 0; text-align: center; }

.folders-right .file { width: 100px; height: 112px; margin: 10px; overflow: hidden; float: left; }
.folders-right .file.type-a { background: url(../img/a.png) no-repeat; }
.folders-right .file.type-d { background: url(../img/d.png) no-repeat; }
.folders-right .file.type-o { background: url(../img/o.png) no-repeat; }
.folders-right .file.type-v { background: url(../img/v.png) no-repeat; }
.folders-right .file.type-i img { padding: 20px 15px 0 15px; }

.console { height: 450px; border-left: 1px solid #d8d8d8; }
.console .console-title { margin-left: 15px; margin-bottom: 10px; font-size: 14px; font-weight: bold; font-style: italic; border: none; }
.console li { padding: 10px 0 10px 20px; border-bottom: 1px solid #d8d8d8; }
.console li.success { list-style: url(../img/success.png) inside !important; }
.console li.failure { list-style: url(../img/failure.png) inside !important; }

.context-menu-source { display: none; position: absolute; width: 150px; background-color: #f7f7f7; }
.context-menu-source li { height: 15px; cursor: pointer; font-size: 14px; padding: 7px 25px 7px 25px; border-bottom: 1px solid #e0e0e0; }


#files-uploader { position: relative; margin: 0 5px; }
#files-uploader .files-uploader-browser { padding-bottom: 75px; }
#files-uploader > .buttons { position: absolute; bottom: 20px; right: 0; }
#files-uploader form.file_upload {
	background-color: transparent;
	border: 2px dashed #d0d0d0;
	margin: 20px auto 30px;
	min-height: 100px;
}
#files-uploader label.upload {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 200px;
    height: 30px;
    line-height: 30px;
    margin-left: -100px;
    margin-top: -15px;
}
#files-uploader-queue {
    list-style-type: none;
    margin: 0 0 20px 0;
    height: 185px;
    overflow-y: auto;
    background: #f9f9f9;
    border: 1px solid #ddd;
	padding: 0;
}
#files-uploader-queue li {
    margin: -1px 10px 10px;
    padding-top: 10px;
    border-top: 1px dotted #ddd;
}
#files-uploader-queue li > div {
    margin-right: 15px;
    display: inline-block;
    vertical-align: top;
}
#files-uploader-queue .file_upload_preview {
    border: 1px solid #ccc;
}
#files-uploader-queue .file_upload_preview div {
    width: 80px;
    height: 30px;
    border: 5px solid #fff;
    overflow: hidden;
    background: #fff;
}
#files-uploader-queue .file_upload_preview img {
    width: 80px;
}
#files-uploader-queue .filename {
    width: 290px;
    color: #666666;
    margin-top: 10px;
}
#files-uploader-queue .file_upload_progress {
    margin-top: 10px;
}
#files-uploader-queue .file_upload_cancel {
    margin-top: 5px;
    float: right;
    margin-right: 0;
}
#files-uploader-queue .file_upload_cancel .button {
	margin-left: 5px;
}