<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">

<head>
	{pyro:theme:partial name="metadata"}
</head>

<body id="top">

	<!-- Begin pageWrapper -->
	<div id="pageWrapper">
		{pyro:integration:analytics}
		<!-- Begin header -->
		<div id="header">

		{pyro:theme:partial name="header"}
		</div>
		<!-- End header -->

		<!-- Begin nav -->
		<ul id="head-nav">
		{pyro:navigation:links group="header"}
		</ul>
		<!-- End nav -->

		<!-- Begin contentWrapper -->
		<div id="contentWrapper">

		<!-- Begin content -->
			<div id="content">

				{pyro:theme:partial name="breadcrumbs"}

				{pyro:session:messages success="success-box" notice="notice-box" error="error-box"}

				<div class="post">
					{pyro:template:body}
					<br style="clear:both;" />
				</div>

			</div>
			<!-- End content -->

			{pyro:theme:partial name="sidebar"}

		</div>
	<!-- End contentWrapper -->

	{pyro:theme:partial name="footer"}

	</div>

	</body>

</html>