<!DOCTYPE html>
<html>
<head>
	{pyro:theme:partial name="metadata"}
</head>
<body id="top">
	<!-- Begin pageWrapper -->
	<div id="pageWrapper">
		{pyro:integration:analytics}

		{pyro:theme:partial name="header"}

		<!-- Begin nav -->
		<nav>
			<ul id="head-nav">
			{pyro:navigation:links group="header"}
			</ul>
		</nav>
		<!-- End nav -->

		<!-- Begin contentWrapper -->
		<div id="contentWrapper">
			
			{pyro:theme:partial name="content"}
			
		</div>
	<!-- End contentWrapper -->

	{pyro:theme:partial name="footer"}

	</div>
	<!-- End pageWrapper -->

</body>

</html>
