<!DOCTYPE html>
<html lang="{pyro:lang:code}">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <!--[if IE]>
    <style type="text/css" media="screen">
      article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
        display: block;
      }
    </style>
    <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
	{pyro:theme:partial name="metadata"}
</head>
<body id="top">
	<!-- Begin pageWrapper -->
	<div id="pageWrapper">
		{pyro:integration:analytics}

		{pyro:theme:partial name="header"}

		<!-- Begin nav -->
		<nav>
			<ul id="head-nav">
			{pyro:navigation:links group="header"}
			</ul>
		</nav>
		<!-- End nav -->

		<!-- Begin contentWrapper -->
		<div id="contentWrapper">
			
			{pyro:theme:partial name="content"}
			
		</div>
	<!-- End contentWrapper -->

	{pyro:theme:partial name="footer"}

	</div>
	<!-- End pageWrapper -->

</body>

</html>
