<!DOCTYPE html>
<html>
<head>
	{{ theme:partial name="metadata" }}
</head>
<body class="animated fadeIn">

	<!-- Begin pageWrapper -->
	<div id="pageWrapper">

			{{ theme:partial name="header" }}
	
			<!-- Begin nav -->
			<nav id="global-nav">
				<ul id="head-nav">
				{{ navigation:links group="header" }}
				</ul>
			</nav>
			<!-- End nav -->
			
			<div class="container">
			<!-- Begin contentWrapper -->
			<div id="contentWrapper">
	
				{{ theme:partial name="content" }}
				
			</div>
			<!-- End contentWrapper -->
			</div> <!-- End Container -->
			
			<div id="push"></div>
	</div>
	<!-- End pageWrapper -->

	{{ theme:partial name="footer" }}

	{{ integration:analytics }}

</body>
</html>