<!DOCTYPE html>
<html>
<head>
	{{ theme:partial name="metadata" }}
</head>
<body id="top">

	<!-- Begin pageWrapper -->
	<div id="pageWrapper">
		{{ integration:analytics }}

		{{ theme:partial name="header" }}

		<!-- Begin nav -->
		<nav>
			<ul id="head-nav">
			{{ navigation:links group="header" }}
			</ul>
		</nav>
		<!-- End nav -->

		<!-- Begin contentWrapper -->
		<div id="contentWrapper">

			{{ theme:partial name="content" }}

		</div>
		<!-- End contentWrapper -->

	{{ theme:partial name="footer" }}

	</div>
	<!-- End pageWrapper -->

</body>
</html>