/*
 * ==================================
 *     Workless 2.0 ? by @iKreativ
 * ==================================
 *
 * Workless is a mixup of HTML5 Boilerplate and Twitters Bootstrap with some added extras!
 *
 * Credits:
 * - HTML5 Boilerplate: Nicolas Gallagher, Jonathan Neal, Kroc Camen, and the H5BP dev team.
 * - Twitter Bootstrap: @twitter, @mdo and @fat.
 */
/* ----------------------------------
 *   Primary styles
 * ----------------------------------
 * Mobile first, everything else is overridden in responsive.css
 * ---------------------------------- */
#container {
	width:280px;
	height:100%;
	min-height:100%;
	margin:0 auto;
	padding:0;
}

.one_full {
	width:250px;
	margin:0;
	float:left;
}

.one_half {
	width:250px;
	float:left;
}

.one_third {
	width:250px;
	float:left;
}

.two_third {
	width:250px;
	float:left;
}

.one_quarter {
	width:250px;
	float:left;
}

.three_quarter {
	width:250px;
	float:left;
}

.topbar {
	height:200px;
	-webkit-transform:translate3d(0,0,0);
	-webkit-backface-visibility:hidden;
	-webkit-perspective:1000;
}

#logo {
	font-size:16px;
	color:#fff;
	margin:0 15px 0 3px;
	padding:10px 0 15px;
	float:left;
}

#logo a {
	font-size:16px;
	color:#fff;
}

#pyro-logo {
	background: url('../../img/logo.png') no-repeat;
	display: inline-block;
	height: 28px;
	width: 18px;
}

.ckeditor-pyro-logo {
	padding-top: 2px !important;
	height: 20px !important;
}
.ckeditor-pyro-logo .cke_button__maximize_icon {
	background: url('../../img/logo.png') no-repeat center center !important;
	background-size: 14px 20px !important;
	height: 20px !important;
}

#dashboard-link {
	margin-top: 11px;
	margin-right:4px;
}

#dashboard-link a {
	padding: 4px 7px;
	/*fallback for ie8 */
	background:#333;
	background: rgba(0,0,0,.2);
	color: #bbb;
	border: 1px solid #222;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 0px 0 #666, inset 0 1px 2px 0 #555, 0 1px 1px 0 #555;
	-moz-box-shadow: inset 0 1px 0px 0 #666, inset 0 1px 2px 0 #555, 0 1px 1px 0 #555;
	-ms-box-shadow: inset 0 1px 0px 0 #666, inset 0 1px 2px 0 #555, 0 1px 1px 0 #555;
	-o-box-shadow: inset 0 1px 0px 0 #666, inset 0 1px 2px 0 #555, 0 1px 1px 0 #555;
	box-shadow: inset 0 1px 0px 0 #666, inset 0 1px 2px 0 #555, 0 1px 1px 0 #555;
}

#dashboard-link a:hover {
	color: white;
	/*fallback for ie8 */
	background:#222;
	background: rgba(0,0,0,.3);
	-webkit-box-shadow: inset 0 2px 4px 0 #111, inset 0 1px 2px 0 #555, 0 1px 1px 0 #555;
	-moz-box-shadow: inset 0 2px 4px 0 #111, inset 0 1px 2px 0 #555, 0 1px 1px 0 #555;
	-ms-box-shadow: inset 0 2px 4px 0 #111, inset 0 1px 2px 0 #555, 0 1px 1px 0 #555;
	-o-box-shadow: inset 0 2px 4px 0 #111, inset 0 1px 2px 0 #555, 0 1px 1px 0 #555;
	box-shadow: inset 0 2px 4px 0 #111, inset 0 1px 2px 0 #555, 0 1px 1px 0 #555;
}

button#remove_installer_directory {
	position:relative;
	display:inline-block;
	margin-right:10px;
	padding: 4px 6px;
	line-height: 18px;
	color: #eee;
	font-weight: 700;
	text-shadow: 0 1px 0 #333;
	border:1px solid #333;
	background-color:#555;
	background-repeat:repeat-x;
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#777),color-stop(100%,#555));
	background-image:-webkit-linear-gradient(top,#777,#555);
	background-image:-moz-linear-gradient(top,#777,#555);
	background-image:-ms-linear-gradient(top,#777,#555);
	background-image:-o-linear-gradient(top,#777,#555);
	background-image:linear-gradient(top,#777,#555);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.2), inset 0 0px 2px 0 rgba(255,255,255,0.40), 0 1px 0px 0 rgba(255,255,255,0.1);
	-moz-box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.2), inset 0 0px 2px 0 rgba(255,255,255,0.40), 0 1px 0px 0 rgba(255,255,255,0.1);
	-ms-box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.2), inset 0 0px 2px 0 rgba(255,255,255,0.40), 0 1px 0px 0 rgba(255,255,255,0.1);
	-o-box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.2), inset 0 0px 2px 0 rgba(255,255,255,0.40), 0 1px 0px 0 rgba(255,255,255,0.1);
	box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.2), inset 0 0px 2px 0 rgba(255,255,255,0.40), 0 1px 0px 0 rgba(255,255,255,0.1);
	-webkit-transition:0ms linear all;
	-moz-transition:0ms linear all;
	-ms-transition:0ms linear all;
	-o-transition:0ms linear all;
	transition:0ms linear all;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-tap-highlight-color:transparent;
}

button#remove_installer_directory:hover {
	color: white;
	background-color:#444;
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#555),color-stop(100%,#444));
	background-image:-webkit-linear-gradient(top,#555,#444);
	background-image:-moz-linear-gradient(top,#555,#444);
	background-image:-ms-linear-gradient(top,#555,#444);
	background-image:-o-linear-gradient(top,#555,#444);
	background-image:linear-gradient(top,#555,#444);
}

.subbar {
	position:absolute;
	z-index:9997;
	top:27px!important;
	right:0;
	left:0;
	height:20px;
	/* width:100%; */
	background:#333;
	border-top:1px solid #4c4c4c;
	border-bottom:1px solid #1a1a1a;
	padding:10px;
	margin-top:15px;
	-moz-box-shadow:0 1px 2px 0 rgba(0,0,0,.3);
	-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,.3);
	-ms-box-shadow:0 1px 2px 0 rgba(0,0,0,.3);
	-o-box-shadow:0 1px 2px 0 rgba(0,0,0,.3);
	box-shadow:0 1px 2px 0 rgba(0,0,0,.3);
	-webkit-transform:translate3d(0,0,0);
	-webkit-backface-visibility:hidden;
	-webkit-perspective:1000;
}

.subbar-inner:before,.subbar-inner:after {
	display:table;
	line-height:0;
	content:"";
}

.subbar-inner:after {
	clear:both;
}

.subbar .container {
	width:auto;
}

#content-body {
	top:135px;
	position:relative;
}

.subbar .wrapper {
	position:relative;
}

.subbar h2,.subbar h2 a {
	color:#fff;
	text-shadow:0 1px 1px #000;
	margin:0;
	padding:0;
	display:inline-block;
	font-size:16px;
	vertical-align:top;
	line-height:18px;
}

.subbar small {
	color:#bfbfbf;
	margin:0;
	text-shadow:0 1px 1px #000;
	font-size:13px;
	line-height:21px;
	display:none;
	vertical-align:top;
}

#shortcuts {
	margin:0!important;
	position:absolute;
	right:0;
	top:0;
}

#shortcuts h6 {
	display:none;
}

#shortcuts ul {
}

#shortcuts ul li {
	display:inline-block;
}

#shortcuts ul li a.add {
/*
margin-top: -4px;
	float: left;
	padding: 0 10px 2px 7px!important;
*/
}

#shortcuts ul li a.add:before {
	content:'+ ';
	color:#fff;
	font-size:16px;
	font-weight:700;
	text-shadow:0 1px 1px #000;
	vertical-align:0;
}

#shortcuts li a {
	-webkit-appearance:none;
	-moz-background-clip:padding;
	-webkit-background-clip:padding;
	background-clip:padding-box;
	background:#5d6266;
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#767d82),color-stop(100%,#5d6266));
	background-image:-webkit-linear-gradient(#767d82,#5d6266);
	background-image:-moz-linear-gradient(#767d82,#5d6266);
	background-image:-ms-linear-gradient(#767d82,#5d6266);
	background-image:-o-linear-gradient(#767d82,#5d6266);
	background-image:linear-gradient(#767d82,#5d6266);
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	cursor:pointer;
	color:#fff;
	font:bold 12px 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
	outline:0;
	overflow:visible;
	padding:4px 10px;
	text-shadow:0 1px 1px #000;
	width:auto;
	line-height:16px;
	-webkit-box-shadow:inset 0 1px 1px 0 rgba(255,255,255,.2),0 0 1px 1px rgba(0,0,0,.5),0 2px 0 0 rgba(255,255,255,.15);
	-moz-box-shadow:inset 0 1px 1px 0 rgba(255,255,255,.2),0 0 1px 1px rgba(0,0,0,.5),0 2px 0 0 rgba(255,255,255,.15);
	-ms-box-shadow:inset 0 1px 1px 0 rgba(255,255,255,.2),0 0 1px 1px rgba(0,0,0,.5),0 2px 0 0 rgba(255,255,255,.15);
	-o-box-shadow:inset 0 1px 1px 0 rgba(255,255,255,.2),0 0 1px 1px rgba(0,0,0,.5),0 2px 0 0 rgba(255,255,255,.15);
	box-shadow:inset 0 1px 1px 0 rgba(255,255,255,.2),0 0 1px 1px rgba(0,0,0,.5),0 2px 0 0 rgba(255,255,255,.15);
	-webkit-transition:all 250ms linear;
	-moz-transition:all 250ms linear;
	-ms-transition:all 250ms linear;
	-o-transition:all 250ms linear;
	transition:all 250ms linear;
	color:#fff;
}

#shortcuts li a:hover {
	background:#1b7ad6;
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#3193cc),color-stop(100%,#1b7ad6));
	background-image:-webkit-linear-gradient(#3193cc,#1b7ad6);
	background-image:-moz-linear-gradient(#3193cc,#1b7ad6);
	background-image:-ms-linear-gradient(#3193cc,#1b7ad6);
	background-image:-o-linear-gradient(#3193cc,#1b7ad6);
	background-image:linear-gradient(#3193cc,#1b7ad6);
}

#shortcuts li a.active {
	background:#242424;
	color:#aaa;
	text-shadow:0 1px 1px rgba(0,0,0,0.25);
}

#filters ul {
	margin:0;
	float:left;
	width:100%;
	max-width:100%;
}

#filters legend {
	color:#888;
	font-size:12px;
	padding:0 6px;
}

#filters form > ul > li {
	margin:8px 0 5px 5px;
	display:inline-block;
}

#filters form > ul > li label {
	margin:8px 5px 0 0;
	float:left;
	display:block;
	width:100%;
}

#filters form > ul > li input[type="text"] {
	width: auto;
	margin:0;
}

#site_public_lang .type-checkbox {
	padding-right: 50px;
}

.sections_bar {
	position:absolute;
	z-index:9995;
	top:94px!important;
	right:0;
	left:0;
	width:100%;
	height:33px;
	background:white;
	border-bottom:1px solid #ccc;
}

.sections_bar ul {
	position: relative;
}

.sections_bar ul li {
	text-align: left;
	display: inline-block;
	position:relative;
	padding:8px 4px;
}

.sections_bar ul li:first-child {
	padding-left: 0;
}

.sections_bar ul li.current:before {
	position: absolute;
	bottom:-6px;
	left: 40%;
	display: inline-block;
	border-right: 6px solid transparent;
	border-top: 6px solid #ccc;
	border-left: 6px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
}

.sections_bar ul li.current:after {
	position: absolute;
	top: 32px;
	left: 40%;
	display: inline-block;
	border-right: 6px solid transparent;
	border-top: 6px solid white;
	border-left: 6px solid transparent;
	content: '';
}

.sections_bar ul li a {
	color:#858585;
	text-shadow:1px 1px 1px #fff;
}

.sections_bar ul li.current a,.sections_bar ul li a:hover {
	color:#4E4E4E;
}

.sections_bar ul li img {
	position:absolute;
	bottom:-10px;
	left:32%;
}

.ui-tabs-nav {
	width:100%;
}

.ui-tabs-nav li {
	position:relative;
	float:left;
	border-bottom-width:0!important;
	margin:4px 0 0 2px;
	padding:0;
}

.ui-tabs-panel {
	display:block;
	border-width:0;
	background:none;
	float:left;
}

.ui-tabs-hide {
	display:none!important;
}

.ui-autocomplete {
	padding:1px;
	padding-bottom:10px;
	padding-top:5px;
	height:200px;
	position:absolute;
	top:55px!important;
	background-color:#fff;
	border:1px solid #ccc;
	height:auto;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0 4px 10px 0 rgba(0,0,0,.3);
	-moz-box-shadow:0 4px 10px 0 rgba(0,0,0,.3);
	-ms-box-shadow:0 4px 10px 0 rgba(0,0,0,.3);
	-o-box-shadow:0 4px 10px 0 rgba(0,0,0,.3);
	box-shadow:0 4px 10px 0 rgba(0,0,0,.3);
}

.ui-autocomplete li {
	padding:8px 10px;
	list-style:none;
	font-size:14px;
	background-color:#fff;
	cursor:pointer;
	line-height:20px;
	border-bottom:1px solid #EEE;
}

.ui-autocomplete li:last-child {
	border:none;
}

.ui-autocomplete li:hover {
	background:#fff;
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(51%,#f9f9f9),color-stop(100%,#fff));
	background:-webkit-linear-gradient(top,#fff 0%,#f9f9f9 51%,#fff 100%);
	background:-moz-linear-gradient(top,#fff 0%,#f9f9f9 51%,#fff 100%);
	background:-o-linear-gradient(top,#fff 0%,#f9f9f9 51%,#fff 100%);
	background:-ms-linear-gradient(top,#fff 0%,#f9f9f9 51%,#fff 100%);
	background:linear-gradient(top,#fff 0%,#f9f9f9 51%,#fff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ffffff',GradientType=0);
}

.ui-autocomplete li a {
	display:block;
}

#widget-comments .comments-gravatar {
	display: inline-block;
	float: left;
	border: 3px solid white;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
	-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
	-ms-box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
	-o-box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
}

#widget-comments .comments-date {
	display: inline-block;
	color: #999;
	position: absolute;
	top: 0;
	right: 0px;
}

#widget-comments p {
	color: #777;
	padding-left: 65px;
}

#widget-comments span {
	display: block;
	line-height: 18px;
	margin:10px 0 20px 0;
	color: #333;
	background-color: #f5f5f5;
	padding: 8px;
	word-wrap: break-word;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
	-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
	-ms-box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
	-o-box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
}

#widget-comments span:before {
	content: "\201C";
	font-size: 22px;
	color: #888;
	margin-right: 2px;
	display: inline-block;
	height: auto;
}

#widget-comments span:after {
	content: "\201D";
	font-size: 22px;
	color: #888;
	margin-left: 2px;
}

#analyticsWrapper {
	background:#fff;
	width:232px;
	height:300px;
	padding:25px;
	float:left;
	border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	box-shadow:0 0 1px #aaa;
	-moz-box-shadow:0 0 1px #aaa;
	-webkit-box-shadow:0 0 1px #aaa;
}

#analytics {
	width:232px;
	height:300px;
	padding-bottom:50px;
	float:left;
}

#analytics canvas {
	-webkit-transform:translate3d(0,0,0);
	-webkit-backface-visibility:hidden;
	-webkit-perspective:1000;
	-webkit-font-smoothing:subpixel-antialiased;
}

#analytics table tr {
	width:125px;
	float:left;
	display:inline;
}

#analytics .legend {
	display:none;
}

section#content {
	width:100%;
	padding:0;
	margin:135px 0 150px!important;
	float:left;
}

section#content header {
	-webkit-font-smoothing:subpixel-antialiased;
}

section#content ul {
	margin:0;
	padding:0;
}

section#content ul li {
	list-style:none;
	position:relative;
}

section#content ul li.editor {
	list-style:none;
	position:relative;
}

#blog-content-tab {
	width:100%;
}

section.title {
	width:100%;
	display:block;
	min-height:25px;
	background:#f7f7f7;
	background-repeat:repeat-x;
	background-image:-khtml-gradient(linear,left top,left bottom,from(#f7f7f7),to(#f3f3f3));
	background-image:-moz-linear-gradient(#f7f7f7,#f3f3f3);
	background-image:-ms-linear-gradient(#f7f7f7,#f3f3f3);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f7f7f7),color-stop(100%,#f3f3f3));
	background-image:-webkit-linear-gradient(#f7f7f7,#f3f3f3);
	background-image:-o-linear-gradient(#f7f7f7,#f3f3f3);
	background-image:linear-gradient(#f7f7f7,#f3f3f3);
	border-bottom:1px solid #f0f0f0;
	padding:13px 0 8px;
	margin-top:0;
	margin-bottom:0;
	-webkit-border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	-ms-border-radius:5px 5px 0 0;
	-o-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
	-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,.3);
	-moz-box-shadow:0 1px 2px 0 rgba(0,0,0,.3);
	-ms-box-shadow:0 1px 2px 0 rgba(0,0,0,.3);
	-o-box-shadow:0 1px 2px 0 rgba(0,0,0,.3);
	box-shadow:0 1px 2px 0 rgba(0,0,0,.3);
}

section.title h4 {
	color:#555;
	font-size:16px;
	text-shadow:1px 1px 0 #fff;
	margin:0;
	padding:0 16px;
	text-align:left;
	display:inline;
}

section.title h4 a {
	color:#555;
}

section.item {
	background:#fff;
	float:left;
	width:100%;
	min-height:100px;
	margin:0;
	padding:0;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-bottom-left-radius:5px;
	-o-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-bottom-right-radius:5px;
	-o-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
	-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,.3);
	-moz-box-shadow:0 1px 2px 0 rgba(0,0,0,.3);
	-ms-box-shadow:0 1px 2px 0 rgba(0,0,0,.3);
	-o-box-shadow:0 1px 2px 0 rgba(0,0,0,.3);
	box-shadow:0 1px 2px 0 rgba(0,0,0,.3);
	zoom:1;
}

section.item > .content {
	display:block;
	padding:16px;
	width:100%;
	height:auto;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

#quick_links ul {
	margin:0;
	padding:0;
}

#quick_links ul li {
	margin:0 10px 10px 0px;
	display:inline-block;
}

#quick_links ul li a {
	font-size:12px;
	text-align:center;
	color:#333;
	filter:alpha(opacity=100);
	-khtml-opacity:1;
	-moz-opacity:1;
	opacity:1;
	-webkit-transition:250ms linear all;
	-moz-transition:250ms linear all;
	transition:250ms linear all;
}

#quick_links ul li a:hover {
	filter:alpha(opacity=100);
	-khtml-opacity:1;
	-moz-opacity:1;
	opacity:1;
}

ul#recent_comments li {
	padding:0 0 40px;
	margin:0 0 15px;
	border-bottom:1px solid #eee;
}

ul#recent_comments li img {
	width:55px;
	height:55px;
	margin:0 10px 0 3px;
	padding:3px;
	border:1px solid #ddd;
	box-shadow:0 1px 1px #ddd;
	float:left;
}

ul#recent_comments li p {
	line-height:20px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

#feed ul li {
	margin:0 0 25px;
	border-bottom:1px solid #eee;
	width:100%;
}

#feed ul li:last-child {
	border-bottom:none;
}

#feed ul li h4 {
	margin:0 0 8px;
	padding:0;
	line-height:16px;
	font-size:16px;
	display:inline-block;
}

#feed ul li,#feed ul li p {
	color:#333;
	line-height:20px;
}

#feed ul li p {
	margin:0;
	padding:0;
}

#feed ul li p:last-child {
	margin:0;
	padding:0 0 40px;
}

#feed .date {
	float: left;
	position: relative;
	background-color: #6d7a87;
	margin:0 15px 0px 0;
	padding: 5px 5px;
	float:left;
	width: 60px;
	display:inline-block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

#feed .time {
	float: right;
	padding-right: 5px;
	padding-top: 5px;
}

#feed .month {
	display:inline;
	font-size: 12px;
	text-align: right;
	color:white;
	font-weight:700;
}

#feed .day {
	display:inline;
	font-size:16px;
	text-align:right;
	color:white;
	font-weight:700;
}
#feed .post {
	padding-left: 90px;
}

footer {
	background:#333;
	border-top:1px solid #ececec;
	width:100%;
	min-height:60px;
	color:#eee;
	margin-top:-81px;
	padding:0;
	float:right;
	text-shadow:0 -1px 0 #000;
}

footer p {
	float:left;
	font-size:12px;
	margin:5px 0 15px;
	padding:0 10px;
	color:#fff;
}

footer select {
	width:260px!important;
}

ul#lang {
	margin-top:15px;
	margin-right:24px;
	text-align:center;
	text-shadow:0 -1px 0 #fff;
	color:#333;
}

ul#lang .chzn-results {
	width:auto;
	z-index:999;
	position:relative;
}

ul#lang .chzn-drop {
	top:-230px!important;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	border-bottom:1px solid #d0d0d0;
}

ul#lang .chzn-container .chzn-single-with-drop {
	border-top:none;
	-webkit-border-radius:0 0 4px 4px;
	-khtml-border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	border-radius:0 0 4px 4px;
	background:#fff;
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(50%,#fff),color-stop(100%,#eee));
	background:-webkit-linear-gradient(top,#fff 50%,#eee 100%);
	background:-moz-linear-gradient(top,#fff 50%,#eee 100%);
	background:-o-linear-gradient(top,#fff 50%,#eee 100%);
	background:-ms-linear-gradient(top,#fff 50%,#eee 100%);
	background:linear-gradient(top,#fff 50%,#eee 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#eeeeee',GradientType=0);
}

ul#lang .chzn-container .chzn-single div b {
	background:url(../../img/chosen-sprite.png) no-repeat scroll 0 1px transparent;
	background-position:-18px 1px;
}

ul#lang .chzn-container .chzn-single-with-drop div b {
	background:url(../../img/chosen-sprite.png) no-repeat scroll 0 1px transparent;
	background-position:0 0;
}

ul#lang .chzn-container .chzn-drop {
	-webkit-border-radius:4px 4px 0 0;
	-khtml-border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	border-radius:4px 4px 0 0;
	border-top:1px solid #aaa;
}

ul#lang .highlighted {
	text-shadow:none;
}

/* Draggable element */
section.draggable {
	cursor:grabbing;
	cursor:-moz-grabbing;
	cursor:-webkit-grabbing;
}

/* Toggle button */
a.toggle {
	width:21px;
	height:22px;
	background:url(../../img/toggle.png) no-repeat;
	float:right;
	padding:0 16px 0 0;
	cursor:pointer;
	margin:0;
}

table > thead > tr {
	border-bottom:2px solid #ddd;
}

table > tbody > tr {
	border-bottom:1px solid #ddd;
}

/* Streams Core Styles */
.streams_param_input pre {
	background:#E3ECEE;
	color:#5D7F88;
	font-size:11px;
}
