/*
 * ==================================
 *     Workless 2.0 â– by @iKreativ
 * ==================================
 *
 * Workless is a mixup of HTML5 Boilerplate and Twitters Bootstrap with some added extras!
 *
 * Credits:
 * - HTML5 Boilerplate: Nicolas Gallagher, Jonathan Neal, Kroc Camen, and the H5BP dev team.
 * - Twitter Bootstrap: @twitter, @mdo and @fat.
 */

/* ----------------------------------
 *   Responsiveness
 * ----------------------------------
 * @media queries for responsive design.
 * These override the primary('mobile first') styles.
 *
 * ! Ensure your main styling comes before this !
 *
 * ---------------------------------- */

	#logo {
		display: none;
	}

	.topbar {
		height: 50px;
	}

	.topbar ul li a {
  		padding: 15px 5px 15px 5px;
	}

	.subbar {
		margin-top: 25px;
	}

	.sections_bar {
		margin-top: 0px;
	}

	#content-body {
		top: 0;
	}

	nav#primary .chzn-container {
		margin-top: 10px;
		width: 90px !important;
	}


	nav#primary ul.primary-nav { display: none; }
	nav#primary .chzn-container { display: inherit; }

	input[type="text"], 
	input[type="password"], 
	input[type="password"],
	 {
		width: 200px;
	}

	textarea, .cke_skin_kama .cke_wrapper
	{
		width: 230px;
	}

	select { 
		width: 245px; 
	}
/*
	#filters form > ul > li .chzn-container {
		width: 225px!important;
		float: left;
	}

	#filters form input[type="text"] {
		width: 140px;
		height: 12px;
		float: left;
	}

	.chzn-drop {
		width: 223px!important;
		float: left;
	}

	.chzn-search input {
		width: 180px!important;
	}
*/

.one_full {
  width: 100%;
  margin-bottom: 20px;
  *zoom: 1;
}
.one_full:before,
.one_full:after {
  display: table;
  line-height: 0;
  content: "";
}
.one_full:after {
  clear: both;
}
.one_full > [class*="item"] {
  display: block;
  float: left;
  width: 100%;
  /* min-height: 100px; */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.one_full [class*="item"]:first-child {
  margin-left: 0;
}

.wrapper {
	position: relative;
}

/* Login Screen */
#container.login-screen {
	width: 100%;
}

#login-logo	{
	background-image: url('../../img/login-logo.png');
	background-repeat: no-repeat;
	display: inline-block;
	height: 100px;
	width: 100px;
}

.login-screen #content {
	margin: 10px 10px 70px 10px !important;
}

.login-screen section#content {
	width: auto;
	text-align: center;
}

.login-screen #content-body {
	width: 100%;
	margin: 0 auto;
}

.login-screen #content-body .input {
	width: auto;
	text-align: center;
	padding-left: 0px;
}

.login-screen #content-body form li {
	padding: 0;
	margin: 0;
	line-height: 40px;
	vertical-align: middle;
	display: inline-block;
	text-align: center;
	border-bottom: none;
}

.login-screen #content-body form li label {
	width: 30%;
	text-align: right;
}

.login-screen #content-body form li input[type="text"],
.login-screen #content-body form li input[type="password"] {
	position: relative;
}

.login-screen #content-body form li label#login-remember {
	position: relative;
	text-align: center;
	line-height: 20px;
}

.login-screen #content-body form li label#login-remember input {
	margin-right: 10px;
	position: relative;
	top: 2px;
}

#login-buttons {
	vertical-align: middle;
	margin: 10px auto;
	width: 80%;
	text-align: center;
}

#login-submit {
	height: 40px;
	width: 50%;
}

#login-footer {
	text-align: center;
	width: 100%;
	margin: 10px auto;
	padding: 0;
}

#login-footer #login-pyro-link {
	width: 60%;
	display: block;
	margin: 0 auto;
	line-height: 30px;
}

@media only screen and (min-width: 481px) {

	.wrapper {
		width: 480px;
		margin: 0 auto;
	}

	#container {
		width: 480px;
		height: 100%;
		min-height: 100%;
		margin: 0 auto;
		padding: 0;
	}

	/* section.title, section.item {width: 450px;} */

	#logo {
		display: none;
	}

	.topbar {
		height: 50px;
	}
	.topbar ul {
		margin-left: -15px;
		padding-left: 0px!important;
	}

	.topbar ul li a {
  		padding: 15px 5px 15px 5px;
	}

	.subbar {
		margin-top: 25px;
	}
	.subbar h2, .subbar h2 a {
		padding: 0;
	}
	.sections_bar {
		margin-top: 0px;
	}

	#content-body {
		top: 0;
	}

	#analyticsWrapper, #analytics {
		width: 432px;
	}

	section#content {
		/* width: 450px; */
		width: 100%;
		padding: 0;
		margin: 150px 0 150px 0;
		float: left;
	}

	.one_full {
		/* width: 450px; */
		width: 100%
		/* margin: 0; */
		float: left;
	}

	.one_half {
		/* width: 450px; */
		width: 100%;
		float: left;
	}

	td.one_half {
		width: 100%;
		/* width: 430px; */
	}

	/*.one_third {
		width: 450px;
		float: left;
	}

	.two_third {
		width: 450px;
		float: left;
	}*/

	.one_quarter {
		width: 100px;
		float: left;
		margin-right: 15px;
	}

	.three_quarter {
		width: 310px;
		float: left;
	}

	footer p {
		padding: 0;
	}

	#shortcuts {
		right: 0;
	}

	.alert {
		width: 450px;
	}
/*
	#filters form > ul > li .chzn-container {
		width: 425px!important;
		float: left;
	}

	#filters form input[type="text"] {
		width: 340px;
		height: 12px;
		float: left;
	}

	.chzn-drop {
		width: 423px!important;
		float: left;
	}

	.chzn-search input {
		width: 370px!important;
	}
	*/

	.form_inputs label small {
		margin-left: 0;
		margin-bottom: 0;
	}

	.form_inputs fieldset {
		width: auto;
	}

	table {
		width: 100%;
		margin: 0;
		font-size: 13px;
	}

	nav#primary ul.primary-nav { display: none; }
	nav#primary .chzn-container { display: inherit; }

	input[type="text"], 
	input[type="password"], 
	input[type="password"],
	 {
		width: 400px;
	}

	textarea, .cke_skin_kama .cke_wrapper
	{
		width: 430px;
	}

	select { 
		width: 445px; 
	}

	/* LOGIN SCREEN */
	.login-screen #content { margin: 170px 0 150px 0 !important; }
	.login-screen .alert {width: auto;}
	#container.login-screen { width: 400px; }
	.login-screen #content-body { width: 400px; }
	#login-footer #login-pyro-link { width: 30%; }
}

@media only screen and (max-width: 767px) {
	
	.alert p {
		margin: 20px 0;
		padding: 0px;
	}
	
	/* display alert button as block on mobile */
	button#remove_installer_directory {
		display: inline-block;
		width: 100%;
		text-align: center;
		margin: 0px 0 10px 0px;
		padding: 10px 0;
	}
	
	/* Fix navigation for mobile devices */
	.wrapper {
		padding: 0 20px;
	}
	
	.topbar-search {
	  position: relative;
	  display: inline-block;
	}
	
	.topbar-search .search-query {
	  padding: 4px 16px;
	  margin: 5px 0 0 0;
	}
	
	.topbar-search:focus {
	  /*
position: absolute;
	  display: block;
*/
	}
}

@media only screen and (min-width: 768px) {

	nav#primary { display: inherit; }
	nav#primary .chzn-container { display: none; }

	.wrapper {
		width: 750px;
		margin: 0 auto;
	}

	#container {
		width: 750px;
		height: 100%;
		min-height: 100%;
		margin: 0 auto;
		padding: 0;
	}

	/* section.title, section.item {width: 720px;} */

	#logo {
		display: inherit;
	}

	.topbar {
		height: 50px;
	}

	.topbar ul li a {
  		padding: 15px 5px 15px 5px;
	}

	.subbar {
		margin-top: 25px;
	}
	.subbar small {
		display: inline-block;
	}

	.sections_bar {
		margin-top: 0px;
	}

	#content-body {
		top: 0;
	}

	#analyticsWrapper, #analytics {
		width: 702px;
	}

	section#content {
		/* width: 750px; */
		width: 100%;
		padding: 0;
		margin: 150px 0 150px 0;
		float: left;
	}

	.one_full {
		width: 750px;
		/* margin: 0; */
		float: left;
	}

	.one_half {
		/* width: 365px; */
		width: 49.5%;
		margin-right: 15px;
		float: left;
	}

	td.one_half {
		width: 325px;
	}

	/* .one_half section.title, .one_half section.item {width: 335px;} */

	/*.one_third {
		width: 250px;
		margin-right: 15px;
		float: left;
	}
	.one_third section.title, .one_third section.item {width: 220px;}

	.two_third {
		width: 500px;
		margin-right: 15px;
		float: left;
	}
	.two_third section.title, .two_third section.item {width: 470px;}
	*/

	.one_quarter {
		width: 200px;
		margin-right: 15px;
		float: left;
	}

	.three_quarter {
		width: 500px;
		float: left;
	}

	footer {
		margin-top: -81px;
	}
	footer p {
		float: left;
		padding: 10px 0 0 0;
		width: 60%;
	}

	ul#lang {
		float: right;
		margin-right: 0;
	}

	.move-handle {display: block;}
	fieldset {padding: 25px; margin: 5px 0 15px 0;}
	.form_inputs .input > input {min-width: 210px!important;}
	table th.collapse, table td.collapse {display: table-cell;}
	table .actions a {
		display: inline;
		margin-bottom: 0;
	}

	.alert {
		width: 720px;
	}
/*
	#filters form > ul > li .chzn-container {
		width: 152px!important;
		float: left;
	}

	#filters form input[type="text"] {
		width: 152px;
		height: 12px;
		float: left;
	}

	.chzn-drop {
		width: 152px!important;
		float: left;
	}

	.chzn-search input {
		width: 110px!important;
	}
	*/

	nav#primary ul.primary-nav { display: inherit; }
	nav#primary .chzn-container { display: none; }

	input[type="text"], 
	input[type="password"], 
	input[type="password"],
	 {
		width: 500px;
	}

	textarea, .cke_skin_kama .cke_wrapper
	{
		width: 675px;
	}

	select { 
		width: 545px; 
	}

	.form_inputs fieldset > ul > li > label,
	.form_inputs fieldset > ul > div > li > label,
	.form_inputs > ul > div > li > label,
	.form_inputs > ul > li > label,
	.form_inputs fieldset > ul > li .label,
	.form_inputs > ul > li .label {
		width: 25%!important;
	}
}

@media only screen and (min-width: 1025px) {

	.wrapper {
		width: 1024px;
		margin: 0 auto;
	}

	#container {
		width: 1024px;
		height: 100%;
		min-height: 100%;
		margin: 0 auto;
		padding: 0;
	}

	/* section.title, section.item {width: 994px;} */

	.topbar {
		height: 50px;
		text-align: center;
	}

	.topbar ul li {
  		min-width: 70px;
	}

	.subbar {
		top: 25px;
	}

	.sections_bar {
		top: 0px;
	}

	#content-body {
		top: 0;
	}

	#analyticsWrapper, #analytics {
		width: 976px;
	}

	section#content {
		/* width: 1024px; */
		width: 100%;
		padding: 0;
		margin: 150px 0 150px 0;
		float: left;
	}

	.one_full {
		/* width: 1000px; */
		width: 100%;
		/* margin: 0; */
		float: left;
	}

	.one_half {
		/* width: 500px; */
		width: 49.5%;
		margin-right: 10px;
		float: left;
	}

	td.one_half {
		width: 465px;
	}

	/* .one_half section.title, .one_half section.item {width: 470px;} */

	/*.one_third {
		width: 350px;
		margin-right: 15px;
		float: left;
	}

	.two_third {
		width: 786px;
		margin-right: 15px;
		float: left;
	}*/

	.one_quarter {
		width: 230px;
		margin-right: 15px;
		float: left;
	}

	.three_quarter {
		width: 730px;
		float: left;
	}

	footer {
		margin-top: -81px;
	}
	footer p {
		padding: 0;
		margin: 0;
		line-height: 60px;
		width: 65%;
		vertical-align: middle;
	}

	.alert {
		width: 995px;
	}
/*
	#filters form > ul > li .chzn-container {
		width: 260px!important;
		float: left;
	}

	#filters form input[type="text"] {
		width: 220px;
		height: 12px;
		float: left;
	}

	.chzn-drop {
		width: 258px!important;
		float: left;
	}

	.chzn-search input {
		width: 220px!important;
	}
	*/

	nav#primary ul.primary-nav { display: inherit; }
	nav#primary .chzn-container { display: none; }

	input[type="text"], 
	input[type="password"], 
	input[type="password"],
	 {
		width: 500px;
	}

	textarea, .cke_skin_kama .cke_wrapper
	{
		width: 950px;
	}

	select { 
		width: 545px; 
	}

}

@media only screen and (min-width: 1281px) {

	.wrapper {
		width: 1280px;
		margin: 0 auto;
	}

	#container {
		width: 1280px;
		height: 100%;
		min-height: 100%;
		margin: 0 auto;
		padding: 0;
	}

	/* section.title, section.item {width: 1250px;} */

	.topbar {
		height: 50px;
		text-align: center;
	}

	.topbar ul li {
  		min-width: 80px;
	}

	.subbar {
		top: 25px;
	}

	.sections_bar {
		top: 0px;
	}

	#content-body {
		top: 0px;
	}

	#analyticsWrapper, #analytics {
		width: 1232px;
	}

	section#content {
		/* width: 1280px; */
		width: 100%;
		padding: 0;
		margin: 170px 0 150px 0;
		float: left;
	}

	.one_full {
		/* width: 1280px; */
		width: 100%;
		/* margin: 0; */
		float: left;
	}
	/* .one_full section.title, .one_full section.item {width: 1250px;} */

	.one_half {
		/* width: 625px; */
		width: 49.5%;
		margin-right: 10px;
		float: left;
	}

	td.one_half {
		width: 595px;
	}

	/* .one_half section.title, .one_half section.item {width: 595px;} */

	/*.one_third {
		width: 350px;
		margin-right: 15px;
		float: left;
	}

	.two_third {
		width: 786px;
		margin-right: 15px;
		float: left;
	}*/

	.one_quarter {
		width: 230px;
		margin-right: 15px;
		float: left;
	}

	.three_quarter {
		width: 975px;
		float: left;
	}

	.alert {
		width: 1250px;
	}
/*
	#filters form > ul > li .chzn-container {
		width: 360px!important;
		float: left;
	}

	#filters form input[type="text"] {
		width: 300px;
		height: 12px;
		float: left;
	}

	.chzn-drop {
		width: 358px!important;
		float: left;
	}

	.chzn-search input {
		width: 320px!important;
	}
*/
	nav#primary ul.primary-nav { display: inherit; }
	nav#primary .chzn-container { display: none; }

	input[type="text"], 
	input[type="password"], 
	input[type="password"],
	{
		width: 500px;
	}

	textarea, .cke_skin_kama .cke_wrapper
	{
		width: 1200px;
	}

	select { 
		width: 545px; 
	}

}

/* !Retina Displays 
------------------------------------------------------------------ */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	
	body {
		background: #e9e9e9 url('../../img/bg_grain@2x.png') repeat;
		background-size: 200px 200px;
	}
}