@import 'boxes.css';
@import 'common.css';
@import 'links.css';
@import 'lists.css';

// Textile Formatting (borrowed from GitHub)
.textile h1,.textile h2,.textile h3,.textile h4,.textile h5,.textile h6{border:0!important;}
.textile h1{font-size:170%!important;border-top:4px solid #aaa!important;padding-top:.5em!important;margin-top:1.5em!important;}
.textile h1:first-child{margin-top:0!important;padding-top:.25em!important;border-top:none!important;}
.textile h2{font-size:150%!important;margin-top:1.5em!important;border-top:4px solid #e0e0e0!important;padding-top:.5em!important;}
.textile h3{margin-top:1em!important;}
.textile p{margin:1em 0!important;line-height:1.5em!important;}
.textile ul{margin:1em 0 1em 2em!important;}
.textile ol{margin:1em 0 1em 2em!important;}
.textile ul ul,.textile ul ol,.textile ol ol,.textile ol ul{margin-top:0!important;margin-bottom:0!important;}
.textile blockquote{margin:1em 0!important;border-left:5px solid #ddd!important;padding-left:.6em!important;color:#555!important;}
.textile dt{font-weight:bold!important;margin-left:1em!important;}
.textile dd{margin-left:2em!important;margin-bottom:1em!important;}
.textile table{margin:1em 0!important;}
.textile table th{border-bottom:1px solid #bbb!important;padding:.2em 1em!important;}
.textile table td{border-bottom:1px solid #ddd!important;padding:.2em 1em!important;}
.textile pre{margin:1em 0!important;font-size:90%!important;background-color:#f8f8ff!important;border:1px solid #dedede!important;padding:.5em!important;line-height:1.5em!important;color:#444!important;overflow:auto!important;}
.textile pre code{padding:0!important;font-size:100%!important;background-color:#f8f8ff!important;border:none!important;}
.textile code{font-size:90%!important;background-color:#f8f8ff!important;color:#444!important;padding:0 .2em!important;border:1px solid #dedede!important;}
.textile pre.console{margin:1em 0!important;font-size:90%!important;background-color:black!important;padding:.5em!important;line-height:1.5em!important;color:white!important;}
.textile pre.console code{padding:0!important;font-size:100%!important;background-color:black!important;border:none!important;color:white!important;}
.textile pre.console span{color:#888!important;}
.textile pre.console span.command{color:yellow!important;}