@charset "utf-8";
/**
 * @name 		PyroCMS default
 * @version 	1.0
 * @description Default template for every PyroCMS installation.
 * @link		http://www.pyrocms.com
 * @author		Yorick Peterse
 * @link		http://www.yorickpeterse.com
 */
/* Helpers */
.clear {
	clear:both;
}
/* General */
body {
	background:#fff;
	font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Arial,sans-serif;
}
/* Typography */
h1 {
	font-size:32px;
	margin-bottom:10px;
}
h2 {
	color:#ACACAC;
	font-size:24px;
	margin-bottom:10px;
}
h3 {
	color:#ACACAC;
	font-size:20px;
	margin-bottom:10px;
}
h4 {
	color:#ACACAC;
	font-size:16px;
	margin-bottom:10px;
}
p {
	
	font-size:12px;
	margin-bottom:10px;
}
/* TOP */
#header {
	border-bottom:1px solid #cccccc;
	height:80px;
	margin-bottom:20px;
	margin-top:10px;
	padding-bottom:20px;
	width:100%;
}
#site_title {
	float:left;
}
/* Navigation */
#navigation {
	float:right;
}
#navigation ul {
	margin-top:30px;
}
#navigation ul li {
	float:left;
}
#navigation ul li a {
	color:#404040;
	font-size:18px;
	margin-left:10px;
	padding:5px;
	text-decoration:none;
}
#navigation ul li a:hover {
	color:#96CD23;
}
/* CENTER */
#wrapper {
	height:auto;
	margin:0 auto;
	width:960px;
}
/* The content */
#content {
	float:left;
	margin-right:40px;
	width:680px;	
}
#content a {
	color:#96CD23;
	text-decoration:none;
}
#content a:hover {
	text-decoration:underline;
}
/* The sidebar */
#sidebar {
	float:right;
	width:240px;
}
#sidebar a {
	color:#96CD23;
	text-decoration:none;
}
#sidebar a:hover {
	text-decoration:underline;
}
/* BOTTOM */
#footer {
	border-top:1px solid #CCCCCC;
	clear:both;
	height:80px;
	margin-top:20px;
	padding-top:20px;
	width:100%;
}
