@charset "utf-8";
/**
 * @name 		PyroCMS default
 * @version 	1.0
 * @description Default template for every PyroCMS installation.
 * @link		http://www.pyrocms.com
 * @author		Yorick Peterse
 * @link		http://www.yorickpeterse.com
 */
/* Helpers */
.clear {
	clear:both;
}
/* General */
body {
	background:#fff;
	font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Arial,sans-serif;
}
/* Typography */
h1 {
	color:#ACACAC;
	font-size:32px;
	margin-bottom:10px;
}
h2 {
	color:#ACACAC;
	font-size:24px;
	margin-bottom:10px;
}
h3 {
	color:#ACACAC;
	font-size:20px;
	margin-bottom:10px;
}
h4 {
	color:#ACACAC;
	font-size:16px;
	margin-bottom:10px;
}
h5 {
	color:#ACACAC;
	font-size:14px;
	margin-bottom:10px;
}
h6 {
	color:#ACACAC;
	font-size:12px;
	margin-bottom:10px;
}
p {
	font-size:12px;
	margin-bottom:10px;
}
em 				{font-style:italic;}
strong 			{font-weight:bold;}
abbr,acronym 	{border-bottom:1px dashed #000;cursor:help;}
blockquote {
	background: url(../img/quote.png) no-repeat top left;
	font-style:italic;
	padding:0px 10px 10px 50px;
}
/* TOP */
/* Header 1 */
#header {
	background:#BFE387 url(../img/bg.png) repeat top left;
	border-bottom:1px solid #ccc;
	height:80px;
	padding-bottom:10px;
	padding-top:10px;
	width:100%;
}
.header_align {
	margin:0 auto;
	width:960px;
}
#site_title {
	float:left;
}
/* Navigation */
#navigation {
	float:right;
}
#navigation ul {
	margin-top:30px;
}
#navigation ul li {
	float:left;
}
#navigation ul li a {
	background:#fff;
	color:#404040;
	font-size:16px;
	margin-left:10px;
	padding:8px;
	text-decoration:none;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
#navigation ul li a:hover {
	background:#96CD23;
	color:#fff;
}
/* Header 2 */
#header_2 {
	background:#EEEEEE;
	border-top:1px solid #fff;
	border-bottom:1px solid #ccc;
	height:250px;
	margin-bottom:40px;
	width:100%;
}
#header_2 #inside {
	border-bottom:1px solid #fff;
	height:249px;
	width:100%;
}
#header_2 #latest_article {
	float:left;
	margin-top:30px;
	width:400px;
}
#header_2 #latest_article a {
	color:#7EB30E;
	text-decoration:none;
}
#header_2 #latest_article a:hover {
	text-decoration:underline;
}
#header_2 #latest_article_top {
	background: url(../img/article.png) no-repeat center left;
	padding:7px 0px 0px 70px;
}
#header_2 #latest_article_image {
	background:#fff;
	border:1px solid #ccc;
	float:right;
	height:220px;
	margin-top:15px;
	width:420px;
}
#header_2 #latest_article_image img {
	border:10px solid #fff;
}
/* CENTER */
#wrapper {
	height:auto;
	margin:0 auto;
	width:960px;
}
/* The content */
#content {
	float:left;
	margin-right:40px;
	margin-bottom:20px;
	width:680px;	
}
#content a {
	color:#7EB30E;
	text-decoration:none;
}
#content a:hover {
	text-decoration:underline;
}
#content ul {
	list-style-image: url(../img/bullet.png);
	margin-left:20px;
}
#content ol {
	list-style-type:decimal;
	font-size:14px;
	margin-left:20px;
}
/* The sidebar */
#sidebar {
	float:right;
	width:240px;
}
#sidebar a {
	color:#7EB30E;
	text-decoration:none;
}
#sidebar a:hover {
	text-decoration:underline;
}
/* BOTTOM */
#footer {
	border-top:1px solid #CCCCCC;
	clear:both;
	height:80px;
	margin-top:20px;
	padding-top:20px;
	width:100%;
}
#footer a {
	color:#7EB30E;
	text-decoration:none;
}
#footer a:hover {
	text-decoration:underline;
}
#footer #copyrights {
	float:left;
}
#footer #site_notice {
	float:right;
}
