h4 .variables-selectable-fields-form {
	margin-top: -8px;
	margin-right: 10px;
	float: right;
}

h4 .variables-selectable-fields-form span{
	vertical-align:super;
}

h4 .variables-selectable-fields-form ul li {
	display: block !important;
}

.streams-syntax-field-output {
	min-width: 300px;
}

.syntax {
	display: block;
	min-width: 250px;
}