h3 span {
	font-size: 14px;
	padding-left: 10px;
}
select {
    width: 20em;
}
input#insert_width {
    border: 0;
    font-weight: bold;
    font-size: 14px;
}
#options-bar {
    float: left;
}
#options-bar, #radio-group {
    margin-bottom: 10px;
}
#radio-group {
    float: right;
	display: none;
}
#radio-group > label {
	display: inline-block;
	font-weight: bold;
	font-size: 110%;
	text-align: right;
	padding-right: 10px;
}
#radio-group > .set {
	display: inline-block;
}
#slider {
    margin: 0 0 10px 0;
    clear: both;
	display: none;
}
#files_browser {
	display: table;
	width: 100%;
	margin-bottom: 20px;
	background-color: #FFFFFF;
	color: #333333;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
}
#files_left_pane {
	width: 20%;
	display: table-cell;
	border-right: 1px solid #CCCCCC;
	padding: 10px 0;
	vertical-align: top;
}
#files_left_pane ul,
#files_left_pane ul li,
#files_toolbar ul,
#files_toolbar ul li {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
#files_browser h3 {
	margin: 0px;
	padding: 3px 0 5px 0px;
}
#files_browser .table-list .pyro-image {
	cursor:pointer;
}
#files_left_pane h3 {
	padding-left: 10px;
}
#files_right_pane {
	width: 80%;
	display: table-cell;
	padding: 10px;
}
#files_right_pane > * {
/*	display: none;*/
}
#files_left_pane li a {
	padding: 10px;
	background: transparent;
	display: block;
	text-decoration: none;
	color: #666666;
}
#files_left_pane li a:hover {
	background-color: #F4F4F4;
	color: #333333;
}
#files_left_pane li.current a {
	background-color: #3a4043;
	color: #FFFFFF;
}
#files_left_pane li.upload a {
	font-weight: bold;
	margin-top: 10px;
}
#files_toolbar {
	padding: 5px;
}
#files_toolbar ul li {
	display: inline-block;
	padding-left: 5px;
}
#files_toolbar label {
	font-weight: bold;
}
/** Tables **/
table {
	width: 100%;
	border-collapse: separate;
}
table th,
table td {
	padding: 4px;
	vertical-align: middle;
}

table thead th {
	font-weight: bold;
	font-size: 12px;
	border-bottom: 1px solid #c2c2c2;
	text-align: left;
}
table thead th.checkboxes {
	width: 18px;
}
table tfoot td {
	padding: 0;
	border-bottom: 1px solid #DDDDDD;
}
table tbody tr.alt {
	background-color: #F3F3F3;
}
td p {
    margin: 0;
}
td.image {
    width: 42px;
}
td.name-description {
    width: 160px;
}
td.meta {
    width: 40px;
    text-align: center;
}
#upload-box {
	background-color: #ffffff;
	border: 2px solid #c2c2c2;
	display: none;
	position: absolute;
	top: 0;
	left: 7px;
	width: 96%;
	padding: 8px;
	z-index: 99;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
#upload-box form label {
	padding: 0 10px 0 0;
	display: block;
	float: left;
	width: 100px;
}
#upload-box form li {
	list-style: none;
	padding-top: 10px;
}
#upload-box form textarea {
	height: 100px;
}
#upload-box h2 span {
	float: right;
}
span.close {
	cursor: pointer;
}




/* Alerts */
.alert {
  background-color: rgba(0, 0, 0, 0.15);
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.15)));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.15));
  background-image: -ms-linear-gradient(transparent, rgba(0, 0, 0, 0.15));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.15));
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#15000000')";
  background-color: #e6e6e6;
  margin-bottom: 18px;
  padding: 8px 15px;
  color: #333333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.alert p {
  color: #ffffff;
  margin: 0;
}

.alert p + p {
  margin-top: 5px;
}

.alert.error {
  background-color: #d83a2e;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e4776f), to(#d83a2e));
  background-image: -moz-linear-gradient(#e4776f, #d83a2e);
  background-image: -ms-linear-gradient(#e4776f, #d83a2e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4776f), color-stop(100%, #d83a2e));
  background-image: -webkit-linear-gradient(#e4776f, #d83a2e);
  background-image: -o-linear-gradient(#e4776f, #d83a2e);
  background-image: linear-gradient(#e4776f, #d83a2e);
  border-bottom-color: #b32b21;
}

.alert.warning {
  background-color: #ffd040;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffe38d), to(#ffd040));
  background-image: -moz-linear-gradient(#ffe38d, #ffd040);
  background-image: -ms-linear-gradient(#ffe38d, #ffd040);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffe38d), color-stop(100%, #ffd040));
  background-image: -webkit-linear-gradient(#ffe38d, #ffd040);
  background-image: -o-linear-gradient(#ffe38d, #ffd040);
  background-image: linear-gradient(#ffe38d, #ffd040);
  border-bottom-color: #ffc40d;
}

.alert.success {
  background-color: #62bc62;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#97d397), to(#62bc62));
  background-image: -moz-linear-gradient(#97d397, #62bc62);
  background-image: -ms-linear-gradient(#97d397, #62bc62);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #97d397), color-stop(100%, #62bc62));
  background-image: -webkit-linear-gradient(#97d397, #62bc62);
  background-image: -o-linear-gradient(#97d397, #62bc62);
  background-image: linear-gradient(#97d397, #62bc62);
  border-bottom-color: #46a546;
}

.alert.info {
  background-color: #04aef4;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#62cffc), to(#04aef4));
  background-image: -moz-linear-gradient(#62cffc, #04aef4);
  background-image: -ms-linear-gradient(#62cffc, #04aef4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62cffc), color-stop(100%, #04aef4));
  background-image: -webkit-linear-gradient(#62cffc, #04aef4);
  background-image: -o-linear-gradient(#62cffc, #04aef4);
  background-image: linear-gradient(#62cffc, #04aef4);
  border-bottom-color: #049cdb;
}