#available-widgets li { z-index:1; }

#available-widgets li a { 
	background-color: #ffffe0;
	cursor:move;
}

#available-widgets li.ui-draggable-dragging a { 
	background-color: #fff;
	width:16.7em;
}

.widget-area .box-container {
	background-color: #ffffe0;
	min-height: 10em;
	z-index:0;
}

.widget-area .header-squish .tag {
	float: left; color: #fff; margin-right:7em; padding: 0.4em 1em;
}