.widget-instructions {
	color: #666;
	font-size: 15px;
	font-style: italic;
}

#available-widgets li {
	z-index: 1;
	float: left;
	margin: 10px;
	padding: 10px;
	width: 175px;
	height: 110px;
	box-shadow: #DDD 2px 5px 5px;
	border-radius: 10px;
	-webkit-box-shadow: #DDD 2px 5px 5px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: #DDD 2px 5px 5px;
	-moz-border-radius: 10px;
	background: #F2F2F2;
	border: 1px solid #DDD;
	list-style: none;
	cursor: move;
	overflow: hidden;
	position: relative;
}

#available-widgets .title {
	color: #666666;
	margin: 0 0 5px 10px;
}

#available-widgets .author {
	position: absolute;
	bottom: 3px;
}

.widget-area .box-container {
	background-color: #F2F2F2;
	border: 1px solid #DDDDDD;
	min-height: 15em;
	z-index:0;
}

.widget-area .header-squish {
	color: #fff;
	padding: 0.4em 1em;
}

.widget-area .tag, .pyro-button {
	float: right;
	color: #666666;
	padding: 0 15px 0 15px;
}