.widget-instructions {
	color: #666666;
	font-size: 15px;
	font-style: italic;
}

#available-widgets li {
	z-index: 1;
	float: left;
	margin: 5px;
	padding: 20px;
	width: 190px;
	min-height: 115px;
	background-image: url(../img/widget_bg.png);
	list-style: none;
	cursor: move;
	overflow: hidden;
	position: relative;
}

#available-widgets .title {
	color: #666666;
	margin: 0 0 5px 10px;
}

#available-widgets .author {
	position: absolute;
	bottom: 13px;
	margin-left: 8px;
}

.widget-area .box-container {
	background-color: #F2F2F2;
	border: 1px solid #DDDDDD;
	min-height: 15em;
	z-index:0;
}

.widget-area .header-squish {
	color: #fff;
	padding: 0.4em 1em;
}

.widget-area .tag, .pyro-button {
	float: right;
	color: #666666;
	padding: 0 15px 0 15px;
}